%tr
  %td{ align:"left", valign: "top", style: "padding-bottom: 20px;", width: "560" }
    Hello #{@person.given_name},
%tr
  %td{ align:"left", valign: "top", style: "line-height: 30px;", width: "560" }
    = @suggester.name
    has suggested improvements to your profile.
    - if @suggestion.missing_fields_info.present?
      %p
        They provided the following information about missing fields:
      %p
        %div{style: "padding-left: 20px;"}
          = @suggestion.missing_fields_info
    - if @suggestion.incorrect_fields_info.any?
      %p
        They suggested that the following fields were incorrect:
      %ol
        - @suggestion.incorrect_fields_info.each do |field|
          %li= field

    %p
      Check your profile:
    = browser_warning
    = easy_copy_link_to url: person_url(@person)
    = app_guidance
    = do_not_reply
