%p= t(:review_period_closed)

- unless @users.empty?
  %p My direct reports
  - @users.each do |user|
    = link_to user.name, results_user_reviews_path(user)

= link_to 'My feedback', results_reviews_path

- unless @reviews.empty?
  %h1
    - if @reviews.first.subject == current_user
      = 'My'
    - else
      #{ @reviews.first.subject }'s
    feedback

- @reviews.each do |review|
  %p Feedback from #{ review.author_name }
  %p Rating: #{ review.rating }
  %p= review.achievements
  %p= review.improvements
