.title-with-edit
  %h1= @page_title = @group
  = link_to 'Edit this team', edit_group_path(@group)

%div.grid-wrapper.details
  %div.grid.grid-1-3
    %div.inner-block.group-leader
      - @group.leaderships.each do |leadership|
        = render partial: 'leadership', object: leadership

  -if @group.responsibilities?
    %div.grid.grid-1-3
      %div.inner-block.about
        %h3 About the team
        = govspeak(@group.description)
    %div.grid.grid-1-3
      %div.inner-block
        %div.responsibilities
          %h3 Team responsibilities
          = govspeak(@group.responsibilities)
  -else
    %div.grid.grid-2-3
      %div.inner-block.about
        %h3 About the team
        = govspeak(@group.description)

