= render partial: 'breadcrumbs'

%h1= @page_title = 'Edit team'

= render 'form'

.form-group.delete-actions
  - if @group.deletable?
    .deletable
      = link_to info_text('delete_this_team'), @group, method: :delete,
        data: { confirm: "Are you sure you want to delete #{ @group.name }?" }
    %p.form-hint= info_text('team_deletable')
  - else
    .deletable.opaque
      = info_text('delete_this_team')
    %p.form-hint= info_text('team_not_deletable')
