
<h2>Question Details</h2>
<div class="questions-detail-outer">
  <div>
    <%= @question.uin %>
  </div>
  <div style="Width:400px; float:left;">
<div class="member-photo">
	<img src="http://www.sab.yildiz.edu.tr/login/sys/admin/academic/img/Portrait-icon.jpg" alt="Member's Photo" height="100%" width="100%" >
</div>
<div>
    <div>
    <span>Tabling Member: <%= @question.member_name %></span>
    </div>
    <div>
    <span>Constituency: <%= @question.member_constituency %></span>
    </div>
  	<div>
	    <span>House: <%= @question.house_name %></span>
	</div>	
</div>
  </div>
  <div style="float:right";>
  	<div>
    	<span class="date">Date For Answer: <%= @question.date_for_answer.strftime('%d/%m/%Y') unless @question.date_for_answer.nil? %></span>
  	</div>
  	<div>
    	<span class="date">Date Tabled: <%= @question.tabled_date.strftime('%d/%m/%Y') unless @question.tabled_date.nil? %></span>
  	</div>
  	<div>
  </div>
  </div>
  <div class="panel-indent">
  <%= @question.question %>
</div>

<% if @question['RegisteredInterest'] == "True" %>

 <div>
  <span>Member has registered an interest in the Question: <%= @question['RegisteredInterest'] %></span>
 </div>
  
 <% end %>
  
  
<a href="#" alt="action" class="button">Action 1</a>

</div>