
<h2>Question Details</h2>
<div>
  <div>
    <span><%= @question['Uin'] %></span>
  </div>
  <div>
    <span class="date">Date For Answer: <%= @question['DateForAnswer'].to_date.strftime('%d/%m/%Y') %></span>
  </div>

  <span><%= @question['House']['HouseName'] %>:</span>
  <span><%= @question['TablingMember']['MemberName'] %></span>

</div>
<div class="panel-indent">
  <%= @question['Text'] %>
</div>

<a href="#" alt="action" class="button">Action 1</a>

