<h1>Parliamentary Questions of the day</h1>
<h2 class="section">Today <span class="badge"><%= @questions.count %></span></h2>

<ul class="questions-list">
    <% @questions.each do |question| %>
        <li style="overflow:auto;">
			    <div class="pq-header">
				    <span class="uin"><%= question.uin %></span>
                    <span class="deadline">
                      <%= render partial: 'shared/deadline_time', locals: {internal_deadline: question.internal_deadline} %>
                      <%= question.internal_deadline.strftime('%d/%m/%Y %H:%M') unless question.internal_deadline.nil? %>
                    </span>
                     <%= link_to('Open', { controller: 'pqs', action: 'show', id: question.uin} , class: 'button') %>
                </div>
                
                <div>
				    Date For Answer: <%= question.date_for_answer.strftime('%d/%m/%Y') unless question.date_for_answer.nil? %>
                </div>
				<span><%= question.house_name %>: <%= question.member_name %></span>
				
				<div class = "panel-indent" style="float: left; width= 66%;">
					<%= question.question %>
				</div>
				<div style = "float: left; width= 33%;">
					<% if question.seen_by_finance %>
					<div >
						<span class = "label label-success"><span class="glyphicon glyphicon-eye-open"></span> Seen By Finance</span>
					</div>
					<%else%>
					<div >
						<span class = "label label-default" style="line-height:2;"><span class="glyphicon glyphicon-eye-close"></span> Not Seen By Finance</span>
					</div>
					<% end %>
					<% if question.press_interest %>
					<div>
						<span class = "label label-success">Press Interest</span>
					</div>
					<% end %>
					<% if question.finance_interest %>
					<div>
						<span class = "label label-success">Finance Interest</span>
					</div>
					<% end %>
				</div>
				<div style="clear:both;">
				<% if question.seen_by_finance && question.action_officers_pq.size==0 %>
                     <%= link_to('Commission', { controller: 'pqs', action: 'commission', id: question.uin} , class: 'button commission') %>
                 <% elsif question.action_officers_pq.size==1 %>
                 	Currently assigned to <%= question.action_officers.first.name %>
                 <% elsif question.action_officers_pq.size>0 %>
                 	Current Action Officer count: <%= question.action_officers_pq.size %> (click to expand?)
				<% end %>
                </div>
		</li>
    <% end %>
</ul>


