<h1>Parliamentary Questions of the day</h1>
<h2 class="section">Today <span class="badge"><%= @questions.count %></span></h2>

<ul class="questions-list">
    <% @questions.each do |question| %>
        <li>
			<div>
                <div>
				    <span class="uin"><%= question.uin %></span>
                     <%= link_to('Open', { controller: 'pqs', action: 'show', id: question.uin} , class: 'button') %>
                     <span class="label label-success">Allocated</span>
                     <span class="label label-warning">Not Allocated</span>
                     <span class="label label-danger">No Response</span>
                </div>
                <div class="date">
				    Date For Answer:<%= question.date_for_answer.strftime('%d/%m/%Y') unless question.date_for_answer.nil? %>
                </div>

                <div class="date">
                   Deadline:  <%= question.internal_deadline.strftime('%d/%m/%Y %H:%M') unless question.internal_deadline.nil? %>
                </div>

				<span><%= question.house_name %>:</span>
			    <span><%= question.member_name %></span>
			</div>

			<div class="panel-indent">
				<%= question.question %>
			</div>
		</li>
    <% end %>
</ul>


