<h1>Parliamentary Questions of the day</h1>
<h2>Today (<%= @questions.size %>)</h2>
<ul class="questions-list">
    <% @questions.each do |question| %>
        <li>
			<div>
                <div>
				    <span><%= question['Uin'] %></span>
                </div>
                <div>
				    <span class="date">Date For Answer: <%= question['DateForAnswer'].to_date.strftime('%d/%m/%Y') %></span>
                </div>

				<span><%= question['House']['HouseName'] %>:</span>
			    <span><%= question['TablingMember']['MemberName'] %></span>
				
				<a href="#" alt="action" class="button">Action 1</a>
				
			</div>
			<div class="panel-indent">
				<%= question['Text'] %>
			</div>
		</li>
    <% end %>
</ul>
<h2>Unanswered (<%= @questions.size %>)</h2>
<ul class="questions-list">
    <% @questions.each do |question| %>
        <li>
			<div>
				<%= question['Uin'] %> 
				<%= question['DateForAnswer'] %>
				<%= question['House']['HouseName'] %>				
			    <%= question['TablingMember']['MemberName'] %>
				
				<a href="#" alt="action" class="button">Assign to</a>
			</div>
			<div class="panel-indent">
				<%= question['Text'] %>
			</div>
		</li>
    <% end %>
</ul>
