= simple_form_for @membership do |f|
  %fieldset
    .form-group
      = f.input :role, as: :string
    .form-group
      = f.association :person
    .form-group
      = f.association :group
    .form-group
      = f.button :submit
