- @disable_logo_link  = true
- @page_title = 'Log in'
- content_for :body_classes, 'login-page '

.grid-row.mod-heading
  .column-full
    %h1.heading-xlarge.mod-heading-border
      - if @unauthorised_login
        = t('.heading_unauthorised')
      - else
        = t('.heading')

    %p.lede
      - if @unauthorised_login
        - t('.intro_unauthorised').each_line do |line|
          = line
      -else
        - t('.intro').each_line do |line|
          = line


- if feature_enabled?('token_auth')
  %h2.heading-medium
    = t('.heading_other')

  = form_for (@token ||= Token.new) do |f|
    = f.text_field :user_email
    = f.hidden_field(:unauthorised_login, value: @unauthorised_login)
    = f.submit t('.log_in_email'), { class: 'button', data: token_request_analytics_attributes }

  %hr

.grid-row
  .column-full
    %h2.heading-medium
      = t('.heading_google')
    %p
      = t('.body_google')
    %p
      = link_to t('.log_in_google'), "/auth/gplus", class: 'button login-button'

