= form_tag '/auth/identity/callback', {html: {role: 'form'}} do
  .form-group
    = label_tag :auth_key, 'Email'
    = email_field_tag :auth_key
  .form-group
    = label_tag :password
    = password_field_tag :password
  .actions
    = submit_tag 'Login'