- @editing_mode = true
#search_results
  %h1.noborder= @page_title = 'Create profile'
  .spacer-5
  %hr
  .spacer-10

  .validation-summary{role: "group", "aria-labelledby": "error-summary-heading-example-1",  tabindex: "-1"}

    %h3.heading-small#error-summary-heading-example-1
      Your details match an existing profile

    .duplicate-hint
      = "Select a profile below to update it with your new email address"
      %br/
      = "or, click continue to create a new profile"

  .pagination= pluralize(@people.length, "result") + ' found'

  #results
    = render partial: 'search/person', collection: @people, locals: { search_result: false }

  = form_for @person, url: :sessions_people, method: :post do |f|

    = f.hidden_field :given_name
    = f.hidden_field :surname
    = f.hidden_field :email

    .spacer-45
    .form-group
      = f.submit 'Continue, it is not one of these', class: 'button'
