- @editing_mode = true

#search_results
  .grid-row
    .column-full
      %h1.heading-xlarge.with-border-lg
        = @page_title = 'Create profile'
        %span.heading-secondary
          = "Select a team or person's name to view more details."


  .error-summary{"aria-labelledby" => "error-summary-heading", :role => "group", :tabindex => "-1"}
    %h1#error-summary-heading.heading-medium.error-summary-heading
      = "Your details match one or more existing profiles."
    %p
      = "Select a profile below to update it with your new details,"
      %br/
      = "or click continue to create a new profile."

  .pagination
    = pluralize(@people.length, "result") + ' found'

  #results
    = render partial: 'search/person_confirmation', collection: @people, as: :person

  = form_for @person, url: :sessions_people, method: :post do |f|

    = f.hidden_field :given_name
    = f.hidden_field :surname
    = f.hidden_field :email

    .spacer-45
    .form-group
      = f.submit 'Continue, it is not one of these', class: 'button'
