%h4= reply.subject.name

%p Please accept or decline this request:
= simple_form_for reply, as: :invitation, url: invitation_path(reply) do |f|
  %fieldset.inline
  = f.input :status, as: :radio_buttons, collection: %i[ accepted declined ], item_wrapper_class: 'block-label', label_method: ->(v) { t(v, scope: 'invitations.statuses') }

  %fieldset
    .reason_declined_fields.hidden
      %p Please explain why you have declined the request
      = f.input :reason_declined

  %fieldset
    = f.button :submit, label: 'Update'
