%h2= t('views.replies.index_title', count: @replies.count)

%table
  %thead
    %tr
      %th= t('list.name_header', scope: 'views.replies')
      %th= t('list.action_header', scope: 'views.replies')
  %tbody
    - @replies.each do |reply|
      %tr{ class: "#{ cycle('stripe', '') }" }
        %td.name= reply.subject_name
        %td= render partial: reply.status.to_s, locals: { reply: reply }
