- content_for :body_classes, 'edit-profile-email-page '

.grid-row
  .column-full
    %h1.heading-xlarge.with-border-lg
      = @page_title = 'Confirm your email address'

= form_for @person, url: person_email_path(@person), method: :put, builder: PersonFormBuilder do |f|
  .grid-row.cb-email-update-info
    .column-full
      = email_update_info_message @person
  .form-group
    .grid-row
      .column-full
        = f.text_field :email, value: @new_email || @person.email
        = f.text_field :secondary_email, value: @new_secondary_email || @person.secondary_email
        = f.hidden_field :token_value, value: @token&.value
        = f.hidden_field :oauth_hash, value: @oauth_hash

    .grid-row
      .column-full
        = f.submit 'Continue', class: 'button'
