- content_for :body_classes, 'edit-profile-email-page '

.grid-row
  .column-full
    %h1.heading-xlarge.with-border-lg
      = @page_title = 'Email change confirmation'
      %span.heading-secondary
        Confirm or change your main and alternative email addresses

= form_for @person, url: person_email_path(@person), method: :put, builder: PersonFormBuilder do |f|
  .form-group
    .grid-row
      .column-full
        = f.text_field :email, value: @new_email || @person.email
        = f.text_field :secondary_email, value: @new_secondary_email || @person.secondary_email
    .grid-row.cb-email-update-info
      .column-full
        .form-group
          .form-control{ style: 'border: 0; padding: 5px 2px 4px;' }
            = email_update_info_message @person

    .grid-row
      .column-full
        = f.submit 'Continue', class: 'button'
