<div class="row">
  <div class="col-md-6">
    <%= form_for @action_officer do |f| %>
      <% if @action_officer.errors.any? %>
        <div class="alert  alert-danger">
          <p><%= "#{pluralize(@action_officer.errors.count, "error")} prohibited this Action Officer from being saved:" %></p>
          <ul>
            <% @action_officer.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, {class: 'form-control'}%>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email , {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <%= f.submit 'Save' , {class: 'button'}%>
      </div>

    <% end %>
  </div>
</div>