<h1>Listing Action Officers</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Directorate</th>
    <th>Active/Inactive</th>
    <th></th>
    <th></th>
  </tr>

  <%  @action_officers.each do |action_officer| %>
    <tr>
      <td><%= action_officer.name %></td>
      <td><%=  action_officer.email %></td>
      <td><%=  action_officer.phone %></td>
      <td><%= action_officer.deputy_director.division.name unless action_officer.deputy_director.nil? %></td>
      <td><% if action_officer.deleted %>
            <i class="fa fa-times"></i>Inactive
          <% else %>
            <i class="fa fa-check-circle"></i>Active
          <% end %>
        </td>
      <td><%= link_to 'Show', action_officer , {class: 'button'} %></td>
      <td><%= link_to 'Edit', edit_action_officer_path(action_officer), {class: 'button'} %></td>
    </tr>
  <% end %>

</table>


<%= link_to 'New Action officer', new_action_officer_path , {class: 'button'} %>
