<p class="notice"> <%= notice %></p>

<h2>Action Officer</h2>

<div>
  <strong>Name:</strong>
  <%= @action_officer.name %>

</div>
<div>
  <strong>Email:</strong>
  <%= @action_officer.email %>
</div>

<%= link_to 'Edit', edit_action_officer_path(@action_officer), {class: 'button'}  %>

<%= link_to 'Back', action_officers_path , {class: 'button'}  %>
