- content_for :head do
  = stylesheet_link_tag 'Jcrop/css/jquery.Jcrop.min'

%h1= @person.name

= simple_form_for @person, url: person_image_path(@person), method: :put do |f|
  .form-hint Move and resize the box to crop your profile image.
  .form-group
    = profile_image_tag @person, @person.image.croppable.url, id: 'croppable'

    -  [:crop_x, :crop_y, :crop_w, :crop_h].each do |x|
      = f.hidden_field x

  .form-group
    = f.button :submit, 'Update Image'

  .form-group
    %p= link_to 'Back', edit_person_path(@person)
