- @disable_logo_link  = true
- @page_title = 'Log in'
%h1.no-line= t('.heading')
.spacer-25
%h2.h3.no-line= t('.heading_google')

%p= t('.body_google')

%p
  = link_to t('.log_in_google'), "/auth/gplus", class: 'button login-button'

- if feature_enabled?('token_auth')
  %hr
  .spacer-5
  %h2.h3.no-line= t('.heading_other')

  %p= t('.body_other')

  = simple_form_for (@token ||= Peoplefinder::Token.new) do |token_form|

    - if @token.errors.any?
      .form-group{ class: 'gov-uk-field-error', role: 'alert' }
        %p= @token.errors[:base].join('')
        = token_form.input :user_email, as: :string, label: false
    -else
      .form-group
      = token_form.input :user_email, as: :string, label: false

    .spacer-20
    .form-group
      %label.visuallyhidden{ for: :token_user_email } Email address
      = token_form.button :submit, t('.log_in_email'), class: 'login-button'
