- @disable_logo_link  = true
- @page_title = 'Log in'
- content_for :body_classes, 'login-page'
%h1.no-line= t('.heading')

-t('.intro').each_line do |line|
  %p= line

.spacer-25

- if feature_enabled?('token_auth')
  %h2.h3.no-line= t('.heading_other')

  %p= t('.body_other')

  = form_for (@token ||= Peoplefinder::Token.new) do |f|

    .form-group{ :class => ('gov-uk-field-error' if @token.errors.include?(:user_email)) }
      = f.label :user_email, class: 'visuallyhidden'
      - if @token.errors.include?(:user_email)
        %span.error= @token.errors[:user_email].first
      = f.text_field :user_email, class: 'form-control'

    .spacer-20
    .form-group
      = f.submit t('.log_in_email'), class: 'button'

  %hr
  .spacer-5

%h2.h3.no-line= t('.heading_google')

%p= t('.body_google')

%p
  = link_to t('.log_in_google'), "/auth/gplus", class: 'button login-button'
