= form_for [:admin, @upload], multipart: true do |f|

  = f.label :file
  = f.file_field :file

  .form-group
    = f.label :group_id, 'Team', class: 'form-label-bold'
    %p.form-hint= info_text('hint_add_person_to_team')
    = f.collection_select :group_id,
      Group.all.sort_by { |g| g.path.map(&:to_s) },
      :id, :name_with_path, {}, class: 'form-control select-autocomplete team-select'

  %fieldset
    = f.button
