= editing_mode(building)
= form_for @person, html: {:multipart => true} do |f|

  - if @person.errors.any?
    .alert.alert-error
      %p= error_text('person.general_message')
      %ol.form-error-list
        - @person.errors.each do |field, error|
          %li
            = link_to "#{field.capitalize} #{error.downcase}", "#person_#{field}"


  .form-group
    = f.label :given_name, 'First name', class: 'form-label-bold'
    = f.text_field :given_name, class: 'form-control'

  .form-group{ :class => ('gov-uk-field-error' if @person.errors.include?(:surname)) }
    = f.label :surname, class: 'form-label-bold' do
      Surname
      %span.error= @person.errors[:surname].first if @person.errors.include?(:surname)
    = f.text_field :surname, class: 'form-control'


  - if feature_enabled?("communities")
    .form-group
      %label.form-label-bold{ for: :person_community_id } Community
      = f.select(:community_id, Peoplefinder::Community.all.map { |c| [c.name, c.id] }, { include_blank: true} )

  .form-group
    #contact-details
      %h2.line-above Contact details

      .phone_numbers{ style: ('display:none' if @person.no_phone)}
        .form-group
          = f.label :primary_phone_number, 'Main phone number', class: 'form-label-bold'
          = f.text_field :primary_phone_number, class: 'form-control'
        .form-group
          = f.label :secondary_phone_number, 'Any other phone number', class: 'form-label-bold'
          = f.text_field :secondary_phone_number, class: 'form-control'
      .form-checkbox
        = f.check_box :no_phone
        = f.label :no_phone, 'No phone number'

      .emails
        .form-group{ :class => ('gov-uk-field-error' if @person.errors.include?(:email)) }
          = f.label :email, class: 'form-label-bold' do
            Email
            %span.error= @person.errors[:surname].first if @person.errors.include?(:email)
          = f.text_field :email, class: 'form-control'

      .form-group
        = f.label :location, class: 'form-label-bold' do
          Location
          %p.form-hint= info_text('location_hint')
        = f.text_field :location, class: 'form-control'


  .form-group
    #memberships
      %h2.line-above Role
      = f.fields_for :memberships do |membership_f|
        = render partial: 'membership_fields', locals: { membership_f: membership_f }

    = link_to 'Add another role', add_membership_people_path(id: @person.to_param), id: 'add_membership'

  .form-group.line-above
    %fieldset#working-days
      %legend.form-label-bold Working days
      - Peoplefinder::Person::DAYS_WORKED.each do |day|
        = f.check_box day
        = f.label day, day_name(day)

  .form-group
    = f.label :description, class: 'form-label-bold' do
      Extra information
      %p.form-hint= info_text('notes_field_hint')
    = f.text_area :description, class: 'form-control'

  - if feature_enabled?(:profile_tags)
    .form-group.line-above
      = f.label :tags, class: 'form-label-bold' do
        Skills and expertise
        %p.form-hint= info_text('skills_and_expertise_hint')

      #person_tag_chooser
      = hidden_field_tag :tag_list, Peoplefinder::Person.tag_list
      = f.text_field :tags, class: 'person_tags'


  .form-group.line-above
    = f.label :image, class: 'form-label-bold' do
      Photo
      %p.form-hint= info_text('photo_upload_hint')
    = f.file_field :image, class: 'form-control file'

    = profile_image_tag @person, @person.image.medium, class: 'preview'
    %p
      - if @person.image?
        = link_to 'Crop image', edit_person_image_path(@person)

  .form-group.save-cancel-actions
    = f.submit class: 'button'
    .cancel
      = link_to 'Cancel and go to profile page', @person.new_record? ? :back : @person
