- membership = membership_f.object
.membership.editable-container
  - unless membership.new_record?
    .form-group.editable-summary
      .title
        - if membership.role?
          %strong= membership.role
        = breadcrumbs(membership.path)
      .cta
        = link_to 'Edit', '#', class: 'show-editable-fields'
      .cta
        = link_to 'Delete', membership_path(membership,
          referer: request.path),
          method: :delete,
          data: {confirm: "Are you sure you want to remove #{ membership.person} from #{ membership.group }? " }


  .editable-fields{ style: ('display:none' unless membership.new_record?) }
    .form-group
      = membership_f.label :role, 'Job title', class: 'form-label-bold'
      = membership_f.text_field :role, class: 'form-control'

    .form-group
      %label.form-label-bold Team
      %p.form-hint= info_text('hint_add_person_to_team')
      -#= render layout: 'peoplefinder/shared/org_browser' do
      -#  = membership_f.hidden_field :group_id
      - if org_structure
        = render 'peoplefinder/shared/new_org_browser', org_structure: org_structure, form: membership_f

      %p.form-hint= info_text('hint_add_person_team_not_found')

    .form-group
      = membership_f.label :leader, 'Team leader?', class: 'form-label-bold'
      = membership_f.check_box :leader
      %span.hint This person leads the team above. (More than one person can be selected as team leader.)

      .remove-link
        - if membership.new_record?
          = link_to 'Delete', '#', class: 'remove-new-membership'

        - else
          = link_to 'Delete', membership_path(membership,
            referer: request.path),
            method: :delete,
            data: {confirm: "Are you sure you want to remove #{ membership.person} from #{ membership.group }? " }
