.search-result
  .grid-wrapper
    .grid.grid-2-3
      .inner-block
        .image-background
          = profile_image_tag person, person.image.medium
        .details
          %h3= link_to person.name, person
          - if person.memberships.empty?
            .meta
          - else
            - person.memberships.each do |membership|
              .meta
                = "#{ membership.role }, " if membership.role?
                = link_to membership.group, membership.group

          - if feature_enabled?("communities") && person.community.present?
            .meta.community= link_to person.community, search_path(query: person.community.name)
          .meta= person.phone
          .meta= mail_to(person.email)

    - if edit_link
      .grid.grid-1-3
        .inner-block.edit-link
          = link_to 'Edit this profile', edit_person_path(person)
