- @editing_mode = true
#search_results
  %h1.noborder= @page_title = 'Duplicate names found'
  .spacer-45
  = info_text('duplicate_names_hint')

  .pagination= pluralize(@people.length, "result") + ' found'

  = render partial: 'person', collection: @people, locals: { edit_link: true }

  = simple_form_for @person, :html => {:multipart => true} do |f|

    = f.input :given_name, as: :hidden
    = f.input :surname, as: :hidden

    = f.fields_for :memberships do |membership_f|
      = membership_f.input :role, as: :hidden
      = membership_f.input :group_id, as: :hidden

    = f.input :location, as: :hidden
    = f.input :primary_phone_number, as: :hidden
    = f.input :secondary_phone_number, as: :hidden
    = f.input :email, as: :hidden
    = f.input :description, as: :hidden

    - Peoplefinder::Person::DAYS_WORKED.each do |day|
      = f.input day, as: :hidden

    = f.input :image_cache, as: :hidden

    .spacer-45
    .form-group
      = f.button :submit, 'Continue'
      .cancel
        = link_to 'Return to home page', home_path
