- content_for :report_link do
  = link_to 'Report this profile', new_person_reported_profile_path(@person)

= render partial: 'breadcrumbs'

.title-with-edit
  %h1= @page_title = @person
  = link_to 'Edit this profile', edit_person_path(@person)

.grid-wrapper.profile
  .grid.grid-1-3
    .inner-block
      .image-background
        = profile_image_tag @person, @person.image.medium, class: 'profile-page'
      .spacer-15
      %h4 Days worked
      %ul.working_days
        = render 'working_days'

  .grid.grid-2-3
    .inner-block
      %dl
        - @person.memberships.each do |membership|
          %dt= membership.role
          %dd.breadcrumbs= breadcrumbs(membership.path.drop(1))

        - if feature_enabled?(:communities)
          = render partial: "communities"

        - if @person.location.present?
          %dt.visuallyhidden Location
          %dd= @person.location

      %dl
        - if @person.email.present?
          %dt.visuallyhidden Email
          %dd= mail_to(@person.email)

        - if @person.primary_phone_number.present?
          %dt.visuallyhidden Primary phone number
          %dd= @person.primary_phone_number

        - if @person.secondary_phone_number.present?
          %dt.visuallyhidden Other phone number
          %dd= @person.secondary_phone_number

      - if @person.description.present?
        %dl
          %dt.visuallyhidden Notes
          %dd= @person.description

      - if feature_enabled?(:profile_tags)
        = render partial: "show_tags"


- if @person.incomplete? && @person.email.present?

  - if current_user.email == @person.email
    .complete-your-profile
      Profile completeness
      .bar
        .on{ style: "width: #{ @person.completion_score }%" } &nbsp;
        .off{ style: "width: #{ 100 - @person.completion_score }%" } &nbsp;
      .score #{@person.completion_score}%
      %p= link_to 'complete your profile', edit_person_path(@person)

  - else
    .spacer-55
    %hr
    .spacer-10
    %p
      = info_text('request_information')
      <br/>
      = link_to info_text('request_information_link'), new_person_information_request_path(@person)
