%li{class: ('active' if @person.send(day)), alt: day_name(day)}
  .visuallyhidden<>
    - if @person.send(day)
      = "Works on #{ day_name(day) }s"
    - else
      = "Doesn't work on #{ day_name(day) }s"
  .span{ aria: { hidden: 'true' } }
    = day_symbol(day)
