= simple_form_for @person, :html => {:multipart => true} do |f|
  %fieldset
    = f.error_notification
    .form-group
      = f.input :given_name, as: :string
    .form-group
      = f.input :surname, as: :string, required: false

    .form-group
      %label.form-label-bold Role
      #memberships
        - child_index = Time.now.to_i
        = render partial: 'membership_fields', locals: { f: f, child_index: child_index }

    .form-group
      = link_to 'Add another role', add_membership_people_path(id: @person.to_param), id: 'add_membership'

    .form-group
      = f.input :location, as: :string
    .form-group
      = f.input :primary_phone_number, as: :string
    .form-group
      = f.input :secondary_phone_number, as: :string
    .form-group
      = f.input :email, as: :string
    .form-group
      = f.input :description, label: 'About'

    .form-checkbox
      - Person::DAYS_WORKED.each do |day|
        = f.input day, as: :boolean, label: day.to_s.titleize

    .form-group
      %label.form-label-bold Image
      - if @person.image.present?
        = image_tag @person.image.medium, class: 'preview'
        %p= link_to 'Crop image', edit_person_image_path(@person)
      = f.input :image, as: :file, label: false

    .form-group
      = f.button :submit
