= simple_form_for @person, :html => {:multipart => true} do |f|
  %fieldset
    = f.error_notification
    .form-group
      = f.input :given_name, as: :string
    .form-group
      = f.input :surname, as: :string
    .form-group
      = f.input :location, as: :string
    .form-group
      = f.input :phone, as: :string
    .form-group
      = f.input :mobile, as: :string
    .form-group
      = f.input :email, as: :string
    .form-group
      = f.input :description

    .form-group
      %label.form-label-bold Working days
      Select all that apply
      - Person::DAYS_WORKED.each do |day|
        = f.input day, as: :boolean, label: day_name(day), label_html: { class: 'block-label' }

    .form-group
      = f.input :image, as: :file

      - if @person.image.present?
        = image_tag @person.image.url(:medium), class: 'preview'
        = link_to 'Crop image', edit_person_image_path(@person)

    .form-group
      = f.button :submit

    - unless @person.new_record?
      .form-group
        = link_to 'Delete this record', @person, method: :delete
      %p= link_to 'Back', @person
