= simple_form_for @person do |f|
  %fieldset
    = f.error_notification
    .form-person
      = f.input :given_name, as: :string
    .form-person
      = f.input :surname, as: :string
    .form-person
      = f.input :location, as: :string
    .form-person
      = f.input :phone, as: :string
    .form-person
      = f.input :mobile, as: :string
    .form-person
      = f.input :email, as: :string
    .form-person
      = f.input :description
    .form-person
      = f.input :keywords, as: :string
    .form-checkbox
      - [:works_monday, :works_tuesday, :works_wednesday, :works_thursday, :works_friday].each do |day|
        = f.input day, as: :boolean, label: day.to_s.titleize

    .form-person
      = f.button :submit
