- @editing_mode = true
= form_for @person, builder: PersonFormBuilder, html: { multipart: true, class: person_form_class(@person, @activity) } do |f|

  = f.text_field :given_name
  = f.text_field :surname
  = f.text_field :email

  .form-group.mod-media.card
    = f.label :profile_image, class: 'form-label'
    .media
      .media-left
        = profile_image_tag @person, link: false
    %br/
    = f.submit 'Edit this picture', name: 'edit-picture-button', class: 'button'

  %h3.heading-medium.with-border-lg
    = "Contact details"
  = f.text_field :primary_phone_number
  = f.text_field :secondary_phone_number
  = f.text_field :pager_number
  = f.text_field :secondary_email
  = f.text_field :location_in_building
  = f.text_field :building
  = f.text_field :city

  .form-group
    #memberships
      %h3.heading-medium.with-border-lg
        = "Roles"
      = f.fields_for :memberships do |membership_f|
        = render 'membership_fields', membership_f: membership_f, org_structure: @org_structure, person: @person

    = link_to 'Add another role', add_membership_people_path(id: @person.to_param),
      id: 'add_membership', class: 'button-secondary'

  %h3.heading-medium.with-border-lg
    = "Current Projects"
  = f.text_field :current_project

  .form-group
    %h3.heading-medium.with-border-lg
      = "Working days"
    %fieldset#working-days
      %legend.form-label-bold.visually-hidden Working days
      %ul
        - Person::DAYS_WORKED.each do |day|
          %li
            = f.check_box day

  %h3.heading-medium.with-border-lg
    = "Extra information"
  = f.text_area :description


  .form-group
    = f.submit 'Save', class: 'button'

  .form-group
    .cancel
      = link_to 'Cancel and go back', @person.new_record? ? :back : @person


