- @editing_mode = true
= form_for @person, builder: PersonFormBuilder, html: { multipart: true, class: person_form_class(@person, @activity) } do |f|

  = f.text_field :given_name
  = f.text_field :surname
  = f.text_field :email

  %h3.heading-medium.with-border-lg
    = "Contact details"

  = f.text_field :primary_phone_number
  .form-group.visually-connected
    .panel.panel-border-narrow
      %label.form-label{for: :primary_phone_country_code} Country code
      = f.country_select :primary_phone_country_code,
        {format: :with_dialling_code, priority_countries: ["GB"]},
        class: 'form-control'

  = f.text_field :skype_name

  .form-group.visually-connected-below
    %label.form-label{for: :building} Building I work in (optional)
    %span.form-hint Select options from the list
    %ul.inline-list
      = f.collection_check_boxes :building, building_names,:first, :last,  checked: @person.try(:building) do |b|
        %li
          .form-group
            = b.label(class: "block-label selection-button-checkbox", 'data-value': b.value) { b.check_box + b.text }

  = f.text_field :other_uk
  = f.text_field :other_overseas
  = f.text_field :location_in_building
  = f.text_field :city

  .form-group
    %label.form-label{for: :country} Country (Market)
    = f.country_select :country,
      {priority_countries: ["GB"]},
      class: 'form-control'

  .form-group
    #error_person_membership
      #memberships
        %h3.heading-medium.with-border-lg
          = "Teams and roles"
        = f.fields_for :memberships do |membership_f|
          = render 'membership_fields', membership_f: membership_f, org_structure: @org_structure, person: @person

      = link_to 'Join another team', add_membership_people_path(id: @person.to_param),
        id: 'add_membership', class: 'button-secondary'

  .form-group
    %h3.heading-medium.with-border-lg
      = "Working days"
    %fieldset#working-days
      %legend.form-label-bold.visually-hidden Working days
      %ul.inline-list
        - Person::DAYS_WORKED.each do |day|
          %li
            = f.check_box day

  %h3.heading-medium.with-border-lg
    = "Extra information"

  .form-group
    %label.form-label{for: :key_skills} Key skills
    %ul.inline-list
      = f.collection_check_boxes :key_skills, key_skill_names, :first, :last, checked: @person.try(:key_skills) do |b|
        %li
          .form-group
            = b.label(class: "block-label selection-button-checkbox", 'data-value': b.value) { b.check_box + b.text }

  = f.text_field :language_fluent
  = f.text_field :language_intermediate
  = f.collection_select :grade, grade_names, :first, :last, { include_blank: true, hint: false }, class: 'form-control'

  = f.text_area :previous_positions

  .form-group
    %label.form-label{for: :learning_and_development} Learning and development interests (optional)
    %ul.inline-list
      = f.collection_check_boxes :learning_and_development, learning_and_development_names, :first, :last, checked: @person.try(:learning_and_development) do |b|
        %li
          .form-group
            = b.label(class: "block-label selection-button-checkbox", 'data-value': b.value) { b.check_box + b.text }

  .form-group
    %label.form-label{for: :networks} Networks I belong to (optional)
    %ul.inline-list
      = f.collection_check_boxes :networks, network_names, :first, :last, checked: @person.try(:networks) do |b|
        %li
          .form-group
            = b.label(class: "block-label selection-button-checkbox", 'data-value': b.value) { b.check_box + b.text }

  .form-group
    %label.form-label{for: :key_responsibilities} Key areas of responsibility within my job (optional)
    %ul.inline-list
      = f.collection_check_boxes :key_responsibilities, key_responsibility_names, :first, :last, checked: @person.try(:key_responsibilities) do |b|
        %li
          .form-group
            = b.label(class: "block-label selection-button-checkbox", 'data-value': b.value) { b.check_box + b.text }
  .form-group
    %label.form-label{for: :additional_responsibilities} My additional roles and responsibilities (optional)
    %ul.inline-list
      = f.collection_check_boxes :additional_responsibilities, additional_responsibility_names, :first, :last, checked: @person.try(:additional_responsibilities) do |b|
        %li
          .form-group
            = b.label(class: "block-label selection-button-checkbox", 'data-value': b.value) { b.check_box + b.text }

  .form-group.mod-media.card
    = f.label :profile_image, 'Profile photo', class: 'form-label'
    .media
      .media-left
        = profile_image_tag @person, link: false
    %br/
    - button_text = f.object.profile_image.present? ? 'Change this photo' : 'Add a photo'
    = f.submit button_text, name: 'edit-picture-button', class: 'button'

  .form-group
    = f.submit 'Save', class: 'button'

  .form-group
    .cancel
      = link_to 'Cancel and go back', @person.new_record? ? :back : @person


