= simple_form_for @person, :html => {:multipart => true} do |f|
  %fieldset
    = f.error_notification
    .form-group
      = f.input :given_name, as: :string
    .form-group
      = f.input :surname, as: :string
    .form-group
      = f.input :location, as: :string
    .form-group
      = f.input :phone, as: :string
    .form-group
      = f.input :mobile, as: :string
    .form-group
      = f.input :email, as: :string
    .form-group
      = f.input :description
    .form-group
      = f.input :keywords, as: :string
    .form-checkbox
      - [:works_monday, :works_tuesday, :works_wednesday, :works_thursday, :works_friday].each do |day|
        = f.input day, as: :boolean, label: day.to_s.titleize
    .form-group
      = f.input :image, as: :file
    .form-group
      = f.button :submit

    - unless @person.new_record?
      .form-group
        = link_to 'Delete this record', person_path(@person), method: :delete
