- @editing_mode = true
= form_for @person, html: { multipart: true, class: person_form_class(@person, @activity) } do |f|

  = GovukElementsErrorsHelper.error_summary @person,
    "Message to alert the user to a problem goes here",
    "Optional description of the errors and how to correct them"

  = f.text_field :given_name

  = f.text_field :surname

  = f.text_field :email

  .form-group.mod-media.card
    = f.label :profile_image, class: 'form-label'
    .media
      .media-left
        = profile_image_tag @person, class: 'team-members'
    %br/
    = f.submit 'Edit this picture', name: 'edit-picture-button', class: 'button'



  = f.text_field :primary_phone_number
  = f.text_field :secondary_phone_number
  = f.text_field :secondary_email
  = f.text_field :location_in_building
  = f.text_field :building
  = f.text_field :city
  = f.text_field :current_project


  .form-group
    %h1.heading-xlarge
      missing roles

  .form-group
    #memberships
      %h2.line-above Role
      = f.fields_for :memberships do |membership_f|
        = render 'membership_fields', membership_f: membership_f, org_structure: @org_structure, person: @person

    = link_to 'Add another role', add_membership_people_path(id: @person.to_param),
      id: 'add_membership', class: 'button-secondary'


  .form-group
    = f.check_box_fieldset :working_days, Person::DAYS_WORKED

  = f.text_area :description


  .form-group
    = f.submit class: 'button'

  .form-group
    .cancel
      = link_to 'Cancel and go to profile page', @person.new_record? ? :back : @person
