= f.fields_for :memberships, child_index: child_index do |membership_f|
  .membership.grey-panel

    - membership = membership_f.object

    - if membership.new_record?
      .form-group
        = membership_f.association :group, collection: @groups,
          required: false,
          include_blank: "-- Select --",
          label: 'Group'
      = render partial: 'memberships/role_fields', locals: { membership_f: membership_f }

    - else
      = link_to membership.group.name, membership.group
      = " (#{ 'Leader ' }) " if membership.leader?
      = membership.role  if membership.role.present?
      = render partial: 'memberships/remove', locals: { membership: membership }