- child_index = Time.now.to_i
= f.fields_for :memberships, child_index: child_index do |membership_f|

  %h2.line-above Role


  .membership
    - membership = membership_f.object

    .form-group
      = membership_f.input :role, as: :string, label: 'Job title'



    - if membership.new_record?
      .form-group
        = membership_f.association :group, collection: @groups,
          required: false,
          include_blank: "-- Select --",
          label: 'Team'

      .form-checkbox
        = membership_f.input :leader, label: 'This person is the Leader of this team'
        .remove-link
          = link_to 'remove', '#', class: 'remove-new-membership'

    - else
      = link_to membership.group.name, membership.group
      = " (#{ 'Leader ' }) " if membership.leader?
      = membership.role  if membership.role.present?
      = link_to 'remove', membership_path(membership,
          referer: request.path),
          method: :delete,
          class: 'remove-link',
          data: {confirm: "Are you sure you want to remove #{ membership.person} from #{ membership.group }? " }
