- membership = membership_f.object
.membership
  .form-group
    = membership_f.label :role, 'Job title', class: 'form-label-bold'
    = membership_f.text_field :role, class: 'form-control'

  .form-group
    = membership_f.label :group_id, 'Team', class: 'form-label-bold'
    %p.form-hint= info_text('hint_add_person_to_team')
    = membership_f.collection_select :group_id,
      GroupLister.new.list.sort_by { |g| g.path.map(&:to_s) },
      :id, :name_with_path, {}, class: 'form-control select-autocomplete team-select'

  .form-group
    = membership_f.label :leader, 'Team leader?', class: 'form-label-bold'
    = membership_f.check_box :leader
    %span.hint= role_translate(membership.person, 'memberships.leader').html_safe

  .form-group
    = membership_f.label :subscribed, 'Team updates', class: 'form-label-bold'
    = membership_f.check_box :subscribed, class: 'membership-subscribed-check-box'
    %span.hint= role_translate(membership.person, 'memberships.subscribed')

    .remove-link
      - if membership.new_record?
        = link_to 'Delete', '#', class: 'remove-new-membership'

      - else
        = link_to 'Delete', membership_path(membership,
          referer: request.path),
          method: :delete,
          data: {confirm: "Are you sure you want to remove #{ membership.person} from #{ membership.group }? " }

