= f.fields_for :memberships, child_index: child_index do |membership_f|
  .grey-panel
    .form-group
      = membership_f.association :group, collection: @groups,
        required: false, include_blank: "-- Select --",
        label: "Group #{ remove_membership_link(membership_f.object) }".html_safe
    .form-group
      = membership_f.input :role, as: :string, label: 'Title'
    .form-checkbox
      = membership_f.input :leader, label: 'Leader?'
