- membership = membership_f.object

.membership.panel
  .form-group{ membership_f.error_html_attributes(:group) }
    = render partial: 'team_selector', locals: { person: person, membership_f: membership_f }

  .form-group
    = membership_f.text_field :role

  .form-group.team-leader{ membership_f.error_html_attributes(:leader) }
    %fieldset.inline
      %legend.form-label-bold
        = role_translate(person, 'memberships.leader').html_safe
      - membership.errors.full_messages_for(:leader).each do |message|
        %span.error-message
          = message
      = membership_f.label :leader, value: true, class: 'block-label' do
        = membership_f.radio_button :leader, true
        Yes
      = membership_f.label :leader, value: false, class: 'block-label' do
        = membership_f.radio_button :leader, false
        No

  .form-group.team-subscribed
    %fieldset.inline
      %legend.form-label-bold= role_translate(person, 'memberships.subscribed')
      = membership_f.label :subscribed, value: true, class: 'block-label' do
        = membership_f.radio_button :subscribed, true
        Yes
      = membership_f.label :subscribed, value: false, class: 'block-label' do
        = membership_f.radio_button :subscribed, false
        No

  .form-group
    .remove-link
      - if membership.new_record?
        = link_to 'Leave team', '#', class: 'remove-new-membership button-secondary'
      - else
        = membership_f.hidden_field :_destroy, value: false
        = link_to('Leave team','#', class: 'remove-existing-membership button-secondary')
