.title
  %h1
    = @page_title = @person
    - if @person.persisted?
      %div.heading-links
        = link_to 'Edit this profile', edit_person_path(@person), class: 'small'

.grid-wrapper.profile
  .grid.grid-1-3
    .inner-block
      .image-background
        = profile_image_tag @person, class: 'profile-page'
      .spacer-15
      .no-mobile
        - if @person.email.present? && !@preview
          - if current_user == @person
            = render partial: "completeness", locals: { person: @person }
          - else
            - if @person.incomplete?
              = render partial: "completeness", locals: { person: @person }
            = render partial: "request_information", locals: { person: @person }

  .grid.grid-2-3
    .inner-block
      - @person.memberships.group_by(&:group).each do |group, memberships|
        -if memberships.first.role.present?
          %h3.job-title 
            #{memberships.map(&:role).select(&:present?).sort.join(', ')}
            %small 
              in 
              %a{ href: url_for(group) } 
                = group
        - path = memberships.first.path
        - if path.length > 1
          %dl.inline-labels.role-and-location
            %dt Team
            %dd.breadcrumbs= breadcrumbs(path.drop(1))

      %dl.inline-labels
        - if feature_enabled?(:communities)
          = render partial: "communities"

      %dl.inline-labels
        - if @person.location.present?
          %dt Location
          %dd= @person.location

      %dl.inline-labels
        - if @person.email.present?
          %dt= t(:email, scope: 'activerecord.attributes.person')
          %dd= mail_to(@person.email)
        - if @person.secondary_email.present?
          %dt= t(:secondary_email, scope: 'activerecord.attributes.person')
          %dd= mail_to(@person.secondary_email)

      %dl.inline-labels
        - if @person.primary_phone_number.present?
          %dt Primary phone number
          %dd= call_to(@person.primary_phone_number)

        - if @person.secondary_phone_number.present?
          %dt Other phone number
          %dd= call_to(@person.secondary_phone_number)

      %dl.inline-labels
        - if @person.current_project.present?
          %dt Current project(s)
          %dd= @person.current_project

      - if @person.description.present?
        %h5 Extra information:
        %p= @person.description

      %h4 Days worked
      %ul.working_days
        = render 'working_days'

  .grid.grid-1-3.no-desk
    .inner-block
      - if @person.email.present? && !@preview
        - if current_user == @person
          = render partial: "completeness", locals: { person: @person }
        - else
          = render partial: "request_information", locals: { person: @person }
          - if @person.incomplete?
            = render partial: "completeness", locals: { person: @person }


- unless @versions.nil?
  %h1 Audit Log
  =render 'shared/audit', versions: @versions
