.title
  %h1= @page_title = @person

.grid-wrapper.profile
  .grid.grid-1-3
    .inner-block
      .image-background
        = profile_image_tag @person, class: 'profile-page'
      .spacer-15
      %h4 Days worked
      %ul.working_days
        = render 'working_days'

  .grid.grid-2-3
    .inner-block
      - @person.memberships.each do |membership|
        %h3= membership.role
        - if membership.path.length > 1
          %dl.inline-labels.role-and-location
            %dt Team
            %dd.breadcrumbs= breadcrumbs(membership.path.drop(1))

      %dl.inline-labels
        - if feature_enabled?(:communities)
          = render partial: "communities"

      %dl.inline-labels
        - if @person.location.present?
          %dt Location
          %dd= @person.location

      %dl.inline-labels
        - if @person.email.present?
          %dt= t(:email, scope: 'activerecord.attributes.person')
          %dd= mail_to(@person.email)
        - if @person.secondary_email.present?
          %dt= t(:secondary_email, scope: 'activerecord.attributes.person')
          %dd= mail_to(@person.secondary_email)

      %dl.inline-labels
        - if @person.primary_phone_number.present?
          %dt Primary phone number
          %dd= call_to(@person.primary_phone_number)

        - if @person.secondary_phone_number.present?
          %dt Other phone number
          %dd= call_to(@person.secondary_phone_number)

      - if @person.description.present?
        %h5 Extra information:
        %p= @person.description

- if @person.email.present? && !@preview
  - if logged_in_regular? && current_user.email == @person.email
    = render partial: "completeness", locals: { person: @person }
  - else
    = render partial: "request_information", locals: { person: @person }

- unless @versions.nil?
  %h1 Audit Log
  =render 'shared/audit', versions: @versions
