.grid-row
  .column-full
    %h1.heading-xlarge.with-border-lg
      = @page_title = @person

      .action-links
        - if @person.persisted?
          = link_to info_text('delete_this_profile'),
            @person,
            method: :delete,
            class: "button-secondary",
            data: { confirm: "Are you sure you want to delete #{ @person }? #{ info_text('profile_deletable') }." }

          = edit_person_link 'Edit this profile', @person, class: 'button'

.grid-row.mod-media.profile
  .column-full
    .media
      .media-left
        = profile_image_tag @person, class: 'profile-page', link: false
        - if @person.email.present? && !@preview
          - if current_user == @person
            = render partial: "completeness", locals: { person: @person }
          - else
            - if @person.incomplete?
              = render partial: "completeness", locals: { person: @person }
            = render partial: "request_information", locals: { person: @person }
      .media-body
        %h4.media-heading
        - @person.memberships.group_by(&:group).each do |group, memberships|
          -if memberships.first.role.present?
            %h3.heading-medium
              #{memberships.map(&:role).select(&:present?).sort.join(', ')}
              %small
                in
                %a{ href: url_for(group) }
                  = group

        - if @person.location.present?
          %dl.inline-labels
            %dt
              Location
            %dd
              = @person.location

        - if @person.email.present?
          %dl.inline-labels
            %dt
              = t(:email, scope: 'activerecord.attributes.person')
            %dd
              = mail_to(@person.email)

        - if @person.secondary_email.present?
          %dl.inline-labels
            %dt
              = t(:secondary_email, scope: 'activerecord.attributes.person')
            %dd
              = mail_to(@person.secondary_email)

        - if @person.primary_phone_number.present?
          %dl.inline-labels
            %dt
              Primary phone number
            %dd
              = call_to(@person.primary_phone_number)

        - if @person.secondary_phone_number.present?
          %dl.inline-labels
            %dt
              Other phone number
            %dd
              = call_to(@person.secondary_phone_number)

        - if @person.pager_number.present?
          %dl.inline-labels
            %dt
              Pager number
            %dd
              = call_to(@person.pager_number)

        - if @person.current_project.present?
          %dl.inline-labels
            %dt
              Current project(s)
            %dd
              = @person.current_project

        - if @person.description.present?
          %dl.inline-labels
            %dt
              Extra information
            %dd
              = @person.description

        %h4.heading-small
          = "Days worked"
        %ul.working_days
          = render 'working_days'

- unless @versions.nil?
  = render 'shared/audit', versions: @versions
