%div.grid.grid-1-3
  %div.inner-block

    = link_to summary do
      = image_tag summary.image, class: 'team-members'
      .person-name= summary.name

    %dl.memberships
      - summary.memberships.each do |membership|
        %dt= membership.role
        %dd= membership.group.name
