- @editing_mode = true
#search_results
  %h1.noborder= @page_title = 'Duplicate names found'
  .spacer-45
  = info_text('duplicate_names_hint')

  .pagination= pluralize(@people.length, "result") + ' found'

  = render partial: 'person', collection: @people, locals: { edit_link: true }

  = form_for @person, :html => {:multipart => true} do |f|

    = f.hidden_field :given_name
    = f.hidden_field :surname

    = f.fields_for :memberships do |membership_f|
      = membership_f.hidden_field :role
      = membership_f.hidden_field :group_id

    = f.hidden_field :location_in_building
    = f.hidden_field :building
    = f.hidden_field :city
    = f.hidden_field :primary_phone_number
    = f.hidden_field :secondary_phone_number
    = f.hidden_field :email
    = f.hidden_field :description

    - Person::DAYS_WORKED.each do |day|
      = f.hidden_field day

    = f.hidden_field :image_cache

    .spacer-45
    .form-group
      = f.submit 'Continue', class: 'button'
      .cancel
        = link_to 'Return to home page', home_path
