= render partial: 'breadcrumbs'

- content_for :edit_this_page do
  = render partial: 'edit_links'

%h1= @person.name

= render 'form'

- if @person.deletable?
  .form-group
    = link_to 'Delete this profile', @person, method: :delete,
      data: { confirm: "Are you sure you want to delete the profile for #{ @person.name }?" }
  %p= link_to 'Back', @person
