= render partial: 'breadcrumbs'

%h1 Edit profile

= render 'form'

.delete-actions
  .deletable
    = link_to info_text('delete_this_profile'), @person, method: :delete,
      data: { confirm: "Are you sure you want to delete #{ @person }?" }
  %p.form-hint= info_text('profile_deletable')
