- content_for :body_classes, 'edit-profile-page'

= render partial: 'breadcrumbs'

- if @preview
  .preview
    = render partial: 'profile'

- if @activity == 'complete'
  .completion-prompt
    %p Fill in the highlighted fields to achieve 100% profile completion

%h1= @page_title = 'Edit profile'

= render partial: 'form', locals: { building: false }

.form-group.delete-actions
  .deletable
    = link_to info_text('delete_this_profile'), @person, method: :delete,
      data: { confirm: "Are you sure you want to delete #{ @person }? #{ info_text('profile_deletable') }." }
  %p.form-hint= info_text('profile_deletable')
