= render partial: 'breadcrumbs'

%h1= @person.name

= render 'form'

.form-group
  = link_to 'Delete this profile', @person, method: :delete,
    data: { confirm: "Are you sure you want to delete the profile for #{ @person.name }?" }
%p= link_to 'Back', @person
