- content_for :breadcrumbs do
  = breadcrumbs(Home.hierarchy << 'Search results')

- content_for :edit_this_page do
  = link_to 'Add new person', new_person_path

#search_results
  %h1 Search results
  .pagination= pluralize(@people.length, "result") + ' found'

  - @people.each do |person|
    .search-result
      .grid-wrapper
        .grid.grid-1-2
          .inner-block
            .image-background
              = image_tag person.image.medium
            .details
              %h3= link_to person.name, person
              - if roles = person.memberships.map(&:role).compact
                .meta= roles.join(' / ').html_safe
              - if groups =  person.memberships.map(&:group).compact
                .meta= groups.map{ |group| link_to group }.join(' / ').html_safe

              .meta= person.location
        .grid.grid-1-2
          .inner-block
            %h3 &nbsp;
            .meta
              - if person.primary_phone_number.present?
                = "Tel: #{ person.primary_phone_number }"
              - else
                &nbsp;
            .meta
              - if person.email.present?
                = mail_to(person.email)
              - else
                &nbsp;
