%p#notice= notice
%h1 Search results
%h4= pluralize(@people.length, "result") + ' returned'

- @people.each do |person|
  .search-result
    .image-background
      = image_tag person.image
    .details
      = link_to person.name, person
      %br
      - person.memberships.each do |membership|
        = [membership.role, breadcrumbs(membership.hierarchy)].compact.join("<br/>").html_safe
      %p= person.location
