%h1 My Profile
%h2.person-name= @person.name
%p
  Your profile is
  = "#{@person.completion_score}%"
  complete.

- if @person.image
  = image_tag @person.image, class: 'profile-page'

%dl.person
  - @person.memberships.each do |membership|
    %dt Organisation
    %dd= link_to membership.name, group_path(membership.group)

    %dt= 'Role'
    %dd= membership.role

  %dt Location
  %dd.location= @person.location

  %dt Email
  %dd= @person.email

  %dt Phone
  %dd= @person.phone

  %dt Mobile
  %dd= @person.mobile

  %dt Description
  %dd= @person.description

  %dt Keywords
  %dd= @person.keywords

%ul.working_days
  - ['works_monday', 'works_tuesday', 'works_wednesday', 'works_thursday', 'works_friday'].each do |day|
    %li{class: ('active' if @person.send(day))}
      = day.match(/works_(.)/)[1].upcase + (day == 'works_thursday' ? 'h' : '')
%p
= link_to 'Edit profile', edit_person_path(@person)
= link_to 'Edit groups', person_memberships_path(@person)
