%p#notice= notice

%p
  %b Name:
  = @person.name

%p
- @person.memberships.each do |membership|
  %b Organisation:
  = link_to membership.name, group_path(membership.group)
  %br
  %b Role:
  = membership.role

%p
= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
