= render partial: 'breadcrumbs'

.title-with-edit
  %h1= @person
  = link_to 'Edit this profile', edit_person_path(@person)

.grid-wrapper
  .grid.grid-1-3
    .inner-block.profile
      .image-background
        = image_tag @person.image.medium, class: 'profile-page'
      .spacer-15
      %h4 Days worked
      %ul.working_days
        = render 'working_days'

  .grid.grid-2-3
    .inner-block
      - @person.memberships.each do |membership|
        %h4= membership.role
        = breadcrumbs(membership.path.drop(1))

      %p= @person.location
      %p= contact_details(@person)
      %p= @person.description

- if nag_to_complete_your_profile?(@person)
  .complete-your-profile
    Profile completeness
    .bar
      .on{ style: "width: #{ @person.completion_score }%" } &nbsp;
      .off{ style: "width: #{ 100 - @person.completion_score }%" } &nbsp;
    .score #{@person.completion_score}%
    %p= link_to 'complete your profile', edit_person_path(@person)
