= render partial: 'breadcrumbs'

%h1= @person.name
.grid-wrapper
  .grid.grid-1-3
    .inner-block.profile
      .image-background
        = image_tag @person.image.medium, class: 'profile-page'
      %h4 Days worked
      %ul.working_days
        - Person::DAYS_WORKED.each do |day|
          %li{class: ('active' if @person.send(day)), alt: day_name(day)}
            = day_symbol(day)

  .grid.grid-2-3
    .inner-block
      - @person.memberships.each do |membership|
        %h4= membership.role
        = breadcrumbs(membership.hierarchy - [membership.hierarchy.first])

      %p= @person.location
      %p= contact_details(@person)
      %p= @person.description

- content_for :edit_this_page do
  = link_to 'Edit this page', edit_person_path(@person)

- if nag_to_complete_your_profile?(@person)
  %h4 Profile completeness: #{@person.completion_score}%
  = link_to 'complete your profile', edit_person_path(@person)
