<%= form_for(@progress) do |f| %>
  <% if @progress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@progress.errors.count, "error") %> prohibited this progress from being saved:</h2>

      <ul>
      <% @progress.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :progress_order %><br>
    <%= f.number_field :progress_order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
