<p id="notice"><%= notice %></p>

<p>
  <strong>Progress Name:</strong>
  <%= @progress.name %>
</p>

<p>
  <strong>Progress order:</strong>
  <%= @progress.progress_order %>
</p>

<%= link_to 'Edit', edit_progress_path(@progress) %> |
<%= link_to 'Back', progresses_path %>
