.search-result
  .grid-wrapper
    .grid
      .inner-block
        .image-background
          = profile_image_tag person
        .details
          %h3.result-name
            = link_to hit.try(:highlight).try(:name) ? hit.highlight.name.join.html_safe : person.name,
            person,
            { data: search_result_analytics_attributes(index) }

          .result-memberships
            - if person.memberships.present?
              - person.memberships.each do |membership|
                .meta
                  = link_to hit.try(:highlight).try(:role_and_group) ? hit.highlight.role_and_group.join.html_safe : membership.group.name,
                    membership.group,
                    { data: search_result_analytics_attributes(index) }

          .meta= call_to(person.phone)
          .result-email
            .meta
              = mail_to(hit.try(:highlight).try(:email) ? hit.highlight.email : person.email,
              nil,
              data: search_result_analytics_attributes(index) )

          - if person.current_project.present?
            .meta
              Current project(s):
              = person.current_project

      - if Rails.env.development? || current_user.super_admin?
        %span{style: "float: right; font-size: 10px;"}
          Score:
          = hit._score
