.search-result
  .grid-wrapper
    .grid
      .inner-block
        .image-background
          = profile_image_tag person
        .details
          %h3.result-name
            = link_to es_highlighter(hit, person, :name), person,
            { data: search_result_analytics_attributes(index) }

          .result-memberships
            .meta
              - if person.memberships.present?
                - person.memberships.each.with_index do |membership, idx|
                  - if hit.try(:highlight).try(:role_and_group)
                    = link_to es_highlighter(hit, person, :role_and_group), membership.group, { data: search_result_analytics_attributes(index) } if idx == 0
                  - else
                    = "#{ membership.role }, " if membership.role?
                    = link_to membership.group.name, membership.group, { data: search_result_analytics_attributes(index) }

          .meta= call_to(person.phone)
          .result-email
            .meta
              = mail_to(person.email, es_highlighter(hit, person, :email), data: search_result_analytics_attributes(index) )

          .result-current-project
            - if person.current_project.present?
              .meta
                Current project(s):
                = es_highlighter(hit, person, :current_project)

      - if Rails.env.development? || current_user.super_admin?
        %span{style: "float: right; font-size: 10px;"}
          Score:
          = hit._score
