.search-result
  .grid-wrapper
    .grid
      .inner-block
        .image-background
          = profile_image_tag person
        .details
          %h3= link_to person.name, person

          - if person.memberships.present?
            - person.memberships.each do |membership|
              = "#{ membership.role }, " if membership.role?
              = link_to membership.group.name, membership.group

          .meta= call_to(person.phone)
          .meta= mail_to(person.email, nil)

          - if person.current_project.present?
            .meta= "Current project(s): #{person.current_project}"

        .select-person
          = form_for person, url: update_email_person_path(person) do |f|
            = f.hidden_field :email, value: @person.email
            = f.submit 'Select', class: 'button'
