.grid-row.mod-media.result-person.cb-person
  .column-full
    .media
      .media-left
        = profile_image_tag person
        - if Rails.env.development? || current_user.super_admin?
          %div.core-16
            Score:
            = hit._score

      .media-body
        %h4.media-heading.cb-person-name
          = link_to es_highlighter(hit, person, :name), person,
            { data: search_result_analytics_attributes(index) }
        %ul
          - if person.memberships.present?
            %li.cb-person-memberships
              - person.memberships.each.with_index do |membership, idx|
                - if hit.try(:highlight).try(:role_and_group)
                  = link_to es_highlighter(hit, person, :role_and_group), membership.group, { data: search_result_analytics_attributes(index) } if idx == 0
                - else
                  = "#{ membership.role }, " if membership.role?
                  = link_to membership.group.name, membership.group, { data: search_result_analytics_attributes(index) }

          %li.cb-person-phone
            = call_to(person.phone)
          %li.cb-person-email
            = mail_to(person.email, es_highlighter(hit, person, :email), data: search_result_analytics_attributes(index) )

          - if person.current_project.present?
            %li.cb-person-current-project.core-16
              %span.bold
                Current project(s)
              %br/
              = es_highlighter(hit, person, :current_project)

  .column-one-third
    - if ['sessions','tokens', 'people'].include? controller_name
      = link_to 'Select', edit_person_email_path(person_id: person, new_email: @person.email), class: 'button button-link cb-confirmation-select'
