.search-result
  .grid-wrapper
    .grid
      .inner-block
        .image-background
          = profile_image_tag person
        .details
          - index = person_iteration.index
          %h3= link_to person.name, person,
            search_result ? { data: search_result_analytics_attributes(index) } : {}
          - if person.memberships.empty?
            .meta
          - else
            - person.memberships.each do |membership|
              .meta
                = "#{ membership.role }, " if membership.role?
                = link_to membership.group.name, membership.group,
                  search_result ? { data: search_result_analytics_attributes(index) } : {}

          .meta= call_to(person.phone)
          .meta= mail_to(person.email, nil, data: search_result_analytics_attributes(index) )
          - if person.current_project.present?
            .meta
              Current project(s):
              = person.current_project
        - if ['sessions','tokens'].include? controller_name
          .select-person
            = form_for person, url: update_email_person_path(person) do |f|
              = f.hidden_field :email, value: @person.email
              = f.submit 'Select', class: 'button'
