- content_for :body_classes, 'search-page '

- content_for :breadcrumbs do
  = breadcrumbs(Home.path + ['Search results'])

.grid-row
  .column-full
    %h1.heading-xlarge
      = @page_title = 'Search results'
      %span.heading-secondary
        = "Select a team or person's name to view more details."

= render partial: 'shared/search'
%br/
%br/

.grid-row
  .column-one-third.cb-search-filter-sidebar
    = render partial: 'filter_sidebar'
    %br/

  .column-two-thirds
    .grid-row.cb-search-result-summary
      .column-full
        = result_summary
        %br/
        %br/
    .cb-search-results
      - if people_filter?
        #person-results
          - @people_results.each_with_hit.with_index do |(person, hit), idx|
            = render partial: 'search/person', locals: { person: person, hit: hit, index: idx }

      - if teams_filter?
        #team-results
          = render partial: 'search/team', collection: @team_results.set

.grid-row.cb-search-footer
  .column-full
    %br/
    = t('.results_footer_html', new_profile_link: link_to('add them', new_person_path))
