- content_for :body_classes, 'search-page '

- content_for :breadcrumbs do
  = breadcrumbs(Home.path + ['Search results'])

= render partial: 'shared/search'

.grid-row
  .column-full
    %h1.heading-xlarge
      = @page_title = 'Search results'
      .heading-secondary
        = "Select a team or person's name to view more details."
      %hr/

.grid-row
  .column-full
    %hr/
    - if matches_exist?
      = pluralize(@team_results.size + @people_results.size, "result") + ' found'
    - else
      == <span class="query-term">#{@query}</span> not found —
      == found #{pluralize(@people_results.size + @team_results.size, "similar result")}
    %hr/

.grid-row
  .column-full
    %h3
      TEAMS
    = render partial: 'search/team', collection: @team_results.set

.grid-row
  .column-full
    %h3
      PERSONS
    = render partial: 'search/person', collection: @people_results.set, locals: { search_result: true }

.grid-row
  .column-full
    Can't find the person you're looking for? Why not
    = link_to 'add them', new_person_path
