- content_for :body_classes, 'search-page'
- content_for :breadcrumbs do
  = breadcrumbs(Home.path + ['Search results'])

#search_results
  %h1.noborder= @page_title = 'Search results'
  .search-hint Select a team or person's name to view more details.
  .pagination
    - if matches_exist?
      = pluralize(@team_results.size + @people.size, "result") + ' found'
    - else
      == <span class="query-term">#{@query}</span> not found —
      == found #{pluralize(@people.size + @team_results.size, "similiar result")}

  = render partial: 'search/team', collection: @team_results.set
  = render partial: 'search/person', collection: @people, locals: { search_result: true }

  .add-new-person
    Can't find the person you're looking for? Why not
    = link_to 'add them', new_person_path
