%h1= t('management.header')

.grid-row
  %h2= t('management.report_header')
.grid-row{ style: "display: inline-block;"}
  .grid
    #user-behavior-report
      .report-name
        User behaviour report
      .generate-link
        = link_to 'generate', admin_generate_user_behavior_report_path
      .download-link
        = link_to 'download', admin_user_behavior_report_path

.grid-row
  .grid
    %h2= t('management.tools_header')
.grid-row
  .grid
    .bulk-uploader
      = link_to 'Bulk Uploader', new_admin_person_upload_path

