- content_for :body_classes do
  = 'admin-page '

.grid-row.mod-heading
  .column-full
    %h1.heading-xlarge.mod-heading-border
      = t('management.header')
      = t('management.report_header')


    %h3.heading-medium.with-border-lg.report-name
      = "User behaviour report"

    #user-behavior-report
      %span.generate-link
        = link_to 'generate', admin_generate_user_behavior_report_path, class: "button"
      %span.download-link
        = link_to 'download', admin_user_behavior_report_path, class: "button"

    %h3.heading-medium.with-border-lg.report-name
      = t('management.tools_header')

    = link_to 'Bulk Uploader', new_admin_person_upload_path, class: "button"

