= simple_nested_form_for @responsibilities_agreement do |f|
  = f.error_notification

  .inner-block
    %h2.form-section Budgetary

  #budgetary-responsibilities
    = f.simple_fields_for :budgetary_responsibilities
  .inner-block
    = f.link_to_add 'Add more', :budgetary_responsibilities, data: { target: '#budgetary-responsibilities' }

  .grid-divider

  .inner-block
    %h2.form-section Headcount

  .grid-wrapper
    .form-group
      - Agreement::PAYBANDS.each do |payband|
        .grid.grid-1-3
          .inner-block
            = f.input payband

  .grid-wrapper
    .form-group
      .grid.grid-1-3
        .inner-block
          = f.input :staff_engagement_score, as: :string

  .inner-block
    = f.input :notes

  .inner-block
    .actions
      = f.button :submit
