%tr
  %td{ align:"left", valign: "top", style: "padding-bottom: 20px;", width: "560" }
    Hello #{@person.given_name},
%tr
  %td{ align:"left", valign: "top", style: "line-height: 30px; padding-bottom:20px;", width: "560" }
    The #{@group} page on People Finder has been edited by #{ mail_to @instigator.email }.
    %p
      Check the team's profile:
    = browser_warning
    = easy_copy_link_to url: @group_url
    = app_guidance
    = do_not_reply
