= simple_form_for [@group, @membership] do |f|
  %fieldset
    .form-group
      = f.association :person, collection: @candidates
    .form-group
      = f.input :role, as: :string
    .form-group
      = f.input :leader, as: :boolean, label_html: { class: 'block-label' }
    .form-group
      = f.button :submit
