= render partial: 'breadcrumbs'

%h1
  People in
  = link_to @group, @group

= link_to 'Add someone', new_group_membership_path(@group)

%table
  - @memberships.each do |membership|
    %tr
      %td= link_to membership.person_name, membership.person
      %td= membership.role
      %td= membership.leader ? 'Leader' : ''
      %td= link_to 'Edit', edit_group_membership_path(@group, membership)
      %td= button_to 'Remove', group_membership_path(@group, membership), :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'Add someone', new_group_membership_path(@group)
