%tr
  %td{ align:"left", valign: "top", width: "560" }
    Hello #{@name},
%tr
  %td{ align:"left", valign: "top", style: "line-height: 30px;", width: "560" }
    %p
      The People Finder profile linked to this email address has been deleted
      - if @by_email.present?
        by #{ mail_to @by_email }.
    %p
      Please contact
      - if @by_email.present?
        = mail_to @by_email
        directly
      - else
        = mail to: Rails.configuration.support_email
      if you have any questions about this.
    = do_not_reply
