%tr
  %td{ align:"left", valign: "top", style: "padding-bottom: 20px;", width: "560" }
    Hello #{@person.given_name},
%tr
  %td{ align:"left", valign: "top", style: "line-height: 20px;", width: "560" }
    %p
      You’ve just been added to MoJ People Finder - MoJ's contact directory
      - if @by_email
        \- by #{@by_email}
      \.
    %p
      Check your profile:
    = browser_warning
    = easy_copy_link_to url: @profile_url
    = app_guidance
%tr
  %td{ width: "560", style: "line-height: 30px;" }
    = do_not_reply
