%tr
  %td{ align:"left", valign: "top", style: "padding-bottom: 20px;", width: "560" }
    Hello #{@person.given_name},
%tr
  %td{ align:"left", valign: "top", style: "line-height: 30px; padding-bottom: 20px;", width: "560" }
    %p
      Your profile on MOJ People Finder been edited
      - if @by_email.present?
        by #{@by_email}
      \.
    %p
      = render partial: 'changes_list'
    %p
      To see the updated profile, visit #{link_to @profile_url, @profile_url}.
%tr
  %td{ style: "padding-bottom: 40px;", width: "560"}
    %table.button-container{ cellpadding: "15", cellspacing: "0", border: "0", align: "left", bgcolor: "#00823b" }
      %tbody
        %tr
          %td{ align: "left", valign: "middle", bgcolor: "#00823b" }
            %a.button{href: "#{@profile_url}", target: "_blank"}
              Log in to People Finder
