%tr
  %td{ align:"left", valign: "top", width: "560" }
    Hello #{@person.given_name},
%tr
  %td{ align:"left", valign: "top", style: "line-height: 30px;", width: "560" }
    %p
    - if @by_email.present?
      = mail_to @by_email
    - else
      Someone
    has made the following changes to your People Finder profile:
    %p
      = render partial: 'changes_list'
    %p
      Check your profile:
    = browser_warning
    = easy_copy_link_to url: @profile_url
    = app_guidance
    = do_not_reply
