- content_for :body_classes, 'edit-profile-image-page '

= render partial: 'breadcrumbs'

.grid-row.mod-heading
  .column-full
    %h1.heading-xlarge.mod-heading-border
      = @page_title = @person.profile_image.present? ? "Change the photo" : "Add a photo"
      %span.pull-right
        = link_to 'Cancel and go to profile page', @person.new_record? ? :back : @person,{ class: 'font-xsmall' }

.grid-row
  .column-one-half
    %h3.heading-medium{:for => "person_profile_photo_id"}
      Profile picture
      -# %span.form-hint
      -#   = "There are some steps to follow"
    %ol.list.list-number
      %li
        Choose a photo or drag and drop
      %li
        Click the Upload photo button
      %li
        Use your mouse to adjust the crop lines
      %li
        Click the Crop photo button
      %li
        Click the Save button


  .column-one-half
    = form_for @person, builder: PersonFormBuilder, html: { multipart: true, class: person_form_class(@person, @activity) } do |f|
      .form-group.person-photo.initial
        = f.hidden_field :profile_photo_id
        = f.hidden_field :crop_x
        = f.hidden_field :crop_y
        = f.hidden_field :crop_w
        = f.hidden_field :crop_h

        %div.preview-box
          = profile_image_tag @person, link: false

        %p.hidden
          %a{href: '#', class: 'crop-again-button'}
            Crop image again

        %div.upload-button-bar
          %div.initial-state
            %label{ for: 'person-image', class: 'form-hint upload-hint' }
            .js-photo-upload-error.error.hidden
            %p

              = f.file_field :image, id: 'person-image', class: 'form-control file', name: 'profile_photo[image]'

              %a{href: '#', class: 'reset-image-button'}
                Reset to default

            %button.photo-upload-button.button.hidden
              Upload photo

            %p.form-hint.uploading-hint
              Uploading

            %button.crop-finished-button.button-secondary
              Crop photo

        .form-group.save-cancel-actions
          = f.submit class: 'button'

