<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deputy_director.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @deputy_director.email %>
</p>

<p>
  <strong>Division:</strong>
  <%= @deputy_director.division_id %>
</p>
<div>  
  <% if @deputy_director.deleted %>
      <i class="fa fa-times"></i>Inactive
  <% else %>
      <i class="fa fa-check-circle"></i>Active
  <% end %>
</div>
<%= link_to 'Edit', edit_deputy_director_path(@deputy_director) %> |
<%= link_to 'Back', deputy_directors_path %>
