<%= form_for(@press_desk) do |f| %>
  <% if @press_desk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@press_desk.errors.count, "error") %> prohibited this press_desk from being saved:</h2>

      <ul>
      <% @press_desk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= f.check_box :deleted  %> Inactive
      </label>
      </div>
  </div>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
