%h1= @group

%div.grid-wrapper
  %div.grid.grid-1-3
    %div.inner-block.group-leader
      - @group.leaderships.each do |leadership|
        - person = leadership.person
        .image-background
          = image_tag person.image.medium
        %h3= link_to person, person
        .leader-role= leadership.role

  -if @group.responsibilities.present?
    %div.grid.grid-1-3
      %div.inner-block
        = govspeak(@group.description)
    %div.grid.grid-1-3
      %div.inner-block
        %div.responsibilities
          = govspeak(@group.responsibilities)
  -else
    %div.grid.grid-2-3
      %div.inner-block
        = govspeak(@group.description)

