- @page_title = @group
.group-title
  - if @group.acronym?
    %h1= @group.acronym
    %h2= @group.name
  - else
    %h1= @group.name

%div.grid-wrapper.details
  %div.grid.grid-1-3
    %div.inner-block.group-leader
      - @group.leaderships_by_person.each do |person, leaderships|
        = render partial: 'leaderships', object: leaderships, locals: { person: person }

  %div.grid.grid-2-3
    %div.inner-block.about.text
      %h3 About the team
      .formatted-text
        = govspeak(@group.with_placeholder_default(:description))

