.title_with_edit
  %h1= @group
  = link_to 'Edit this organisation', edit_group_path(@group)

%div.grid-wrapper.details
  %div.grid.grid-1-3
    %div.inner-block.group-leader
      - @group.leaderships.each do |leadership|
        = render partial: 'leadership', object: leadership

  -if @group.responsibilities.present?
    %div.grid.grid-1-3
      %div.inner-block.about
        %h3= about_group_title(@group)
        = govspeak(@group.description)
    %div.grid.grid-1-3
      %div.inner-block
        %div.responsibilities
          %h3= about_group_responsibilities_title(@group)
          = govspeak(@group.responsibilities)
  -else
    %div.grid.grid-2-3
      %div.inner-block.about
        %h3= about_group_title(@group)
        = govspeak(@group.description)

