= editing_alert
= simple_form_for @group do |f|
  %fieldset
    .form-group
      = f.input :name, as: :string, required: false, label: 'Team name'

    .form-group
      %label.form-label-bold{ for: :group_description } Team description
      %p.form-hint= info_text('hint_team_description')
      = f.input :description, label: false, input_html: { class: 'wider' }

    .form-group
      %label.form-label-bold{ for: :group_responsibilities } Team responsibilities (optional)
      %p.form-hint= info_text('hint_team_responsibilities')
      = f.input :responsibilities, label: false, input_html: { class: 'wider' }

    .form-group
      = f.association :parent

    .form-group
      = f.button :submit
