= simple_form_for @group do |f|
  %fieldset
    .form-group
      = f.input :name, as: :string, required: false
    .form-group
      = f.association :parent
    .form-group
      = f.input :description
    .form-group
      = f.input :responsibilities

    .form-group
      %label.form-label-bold People
      #memberships
        - child_index = Time.now.to_i
        = render partial: 'membership_fields', locals: { f: f, child_index: child_index }

    .form-group
      = link_to 'Add another person', add_membership_groups_path, id: 'add_membership'

    .form-group
      = f.button :submit

    - if @group.deletable?
      .form-group
        = link_to 'Delete this record', @group, method: :delete
