= editing_alert
= simple_form_for @group do |f|
  %fieldset
    .form-group
      = f.input :name, as: :string, required: false
    .form-group
      = f.association :parent
    .form-group
      = f.input :description
    .form-group
      = f.input :responsibilities
    .form-group
      = f.button :submit
