- @editing_mode = true
= form_for @group do |f|

  = GovukElementsErrorsHelper.error_summary @person,
    "Message to alert the user to a problem goes here",
    "Optional description of the errors and how to correct them"

  = f.text_field :name
  = f.text_field :acronym
  = f.text_area :description, placeholder: t('.placeholder'), rows: 10

  LOADS OF CONDITIONS IN THE VIEW?

  - if @group.editable_parent?
    .form-group.group-parent.editable-container
      - if params[:group_id]
        = f.hidden_field :parent_id
      - else
        %label.form-label-bold Team parent
        %p.form-hint Use this to change where in the organisation this team is located.

        -unless @group.new_record?
          .editable-summary.parent-summary
            - if @group.parent
              .title= breadcrumbs(@group.parent.path, show_links: false)
            = link_to 'Edit team parent', '#', class: 'show-editable-fields button-secondary'

        .editable-fields{ style: ('display:none' unless @group.new_record?) }
          - if @org_structure
            = render 'shared/org_browser', org_structure: @org_structure, form: f, field_name: :parent_id
            = link_to 'Done', '#', class: 'hide-editable-fields button-secondary'

  .form-group
    = f.submit class: 'button'
    .cancel
      - if @group.new_record?
        = link_to 'Cancel', :back
      - else
        = link_to 'Cancel', @group

.grid-row
  .column-full
    %h3
      Formatting
    %p
      Click each heading below to find out how you can add formatting to your text.
    %p.help-toggle
      Bullet point list
    .help-content
      Copy and paste the formatting below then replace each item with the text you want
      %br
      * bullet point copy here
      %br
      * bullet point copy here
      %br
      &nbsp;&nbsp;* sub bullet point copy here
      %br
      &nbsp;&nbsp;* sub bullet point copy here
    %p.help-toggle
      Numbered list
    .help-content
      Copy and paste the formatting below then replace each item with the text you want
      %br
      1. point 1 copy here
      %br
      2. point 2 copy here
      %br
      3. point 3 copy here
    %p.help-toggle
      Line space
    .help-content
      To add a line space press the spacebar twice
