= simple_form_for @group do |f|
  %fieldset
    .form-group
      = f.input :name, as: :string
    .form-group
      = f.association :parent
    .form-group
      = f.input :description
    .form-group
      = f.input :responsibilities
    .form-group
      = f.button :submit

    - unless @group.new_record?
      .form-group
        = link_to 'Delete this record', @group, method: :delete
