= f.fields_for :memberships, child_index: child_index do |membership_f|
  .people.grey-panel
    .form-group
      - membership = membership_f.object
      - if membership.new_record?
        = membership_f.association :person, collection: @people,
          required: false,
          include_blank: "-- Select --",
          label: 'Name'

      - else
        %h3
          = link_to membership.person.name, membership.person
          = link_to 'remove', membership_path(membership,
            referer: edit_group_path(@group)),
            method: :delete,
            class: 'remove-link',
            data: {confirm: "Are you sure you want to remove #{ membership.person} from #{ membership.group }? " }

    .form-group
      = membership_f.input :role, as: :string, label: 'Title'
    .form-checkbox
      = membership_f.input :leader, label: 'Leader?'
