.grid-row.mod-heading
  .column-full
    %h2.heading-large.mod-heading-border
      Teams within
      - if @group.acronym?
        = @group.acronym
      - else
        = @group.name

      %span.pull-right
        - if @people_outside_subteams_count > 0
          = link_to "View #{ pluralize_with_delimiter @people_outside_subteams_count, 'person' } not assigned to a sub-team", people_outside_subteams_group_path(@group), class: 'font-xsmall pipe-right'
        = link_to 'Add new sub-team', new_group_group_path(@group), class: 'font-xsmall'

#teams.grid-row.mod-subgroups
  = render partial: "subgroup", collection: @group.children