- content_for :breadcrumbs do
  = breadcrumbs(Home.path + @group.path + ['All people'])


%h1.heading-xlarge.with-border-lg
  = @page_title = "People in #{ @group.name }"

= render partial: "all_people_pagination"

.grid-row
  = render partial: "people/summary", collection: @people_in_subtree

= render partial: "all_people_pagination"
