= render partial: 'breadcrumbs'

%h1= @group

= render 'form'

- if @group.deletable?
  .form-group
    = link_to 'Delete this record', @group, method: :delete,
      data: { confirm: "Are you sure you want to delete #{ @group.name }?" }
