%h1 Listing groups

%table
  %tr
    %th Parent
    %th Name
    %th
    %th
    %th

  - @groups.each do |group|
    %tr
      %td= group.parent
      %td= group.name
      %td= link_to 'Show', group
      %td= link_to 'Edit', edit_group_path(group)
      %td= button_to 'Destroy', group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Group', new_group_path
