- content_for :breadcrumbs do
  = breadcrumbs(Home.path + @group.path + ['Organogram'])

- @page_title = "#{ @group.name } Organogram"
- content_for :body_classes, 'organogram '

.organogram-content
  #print
    %a{ href: 'javascript:window.print();' } Print

  %h1.heading-xlarge.with-border-lg
    = "#{@group.short_name}’s organogram"
  - if @group.children.present?
    %h2.heading-medium
      Teams
    .grid-row.mod-list.mod-list-groups
      - @group.children.each do |subgroup|
        .column-one-quarter
          .mod-media.card.team
            .media
              .media-left
                = image_tag ('medium_team.png'), class: 'media-object'
              .media-body
                %h4.media-heading
                  = link_to subgroup, group_path(subgroup)
