- content_for :breadcrumbs do
  = breadcrumbs(Home.path + @group.path + ['People not assigned to a sub-team'])
.whoami

%h1.heading-xlarge
  = @page_title = "People in #{ @group.name }"
  .heading-secondary
    = "not assigned to a sub-team"

= render partial: "people/summary", collection: @group.people_outside_subteams

.grid-row
  .column-full
    = link_to 'Back', './', class: 'button'