= render partial: 'breadcrumbs'

%p#notice= notice
- content_for :edit_this_page do
  = link_to 'Edit this page', edit_group_path(@group)

= render partial: 'detail'

- if @group.children.any?
  %div
    %h2
      = child_group_list_title(@group)

    %div.grid-wrapper
      = render partial: "subgroup", collection: @group.children

- if @group.non_leaderships.any?
  %div
    %h2 Team

    %div.grid-wrapper
      = render partial: "memberships/summary", collection: @group.non_leaderships

%p
  = link_to new_child_group_cta(@group), new_group_group_path(@group)

%p
  = link_to 'Add member', new_group_membership_path(@group)
