%p#notice= notice
= render partial: 'detail'

= link_to 'Edit', edit_group_path(@group)

- if @group.parent
  %p
    %b Parent:
    = link_to @group.parent, @group.parent

- if @group.children.any?
  %div
    %h2
      = child_group_list_title(@group)

    %div.grid-wrapper
      = render partial: "summary", collection: @group.children

- if @group.non_leaders.any?
  %div
    %h2 Team

    %div.grid-wrapper
      = render partial: "people/summary", collection: @group.non_leaders

%p
  = link_to new_child_group_cta(@group), new_group_group_path(@group)
