- content_for :body_classes, 'team-page'

= render partial: 'breadcrumbs'

= render partial: 'detail'

- unless @group.leaf_node?
  .spacer-25
  - if @all_people_count > 0 && @group.parent.present?
    .view-all-people
      = link_to "View #{ @all_people_count > 1 ? 'all' : '' } #{ pluralize_with_delimiter @all_people_count, 'person' } in #{ @group.name }", people_group_path(@group)
  %h2#teams
    Teams within
    = @group.name
    - if @people_outside_subteams_count > 0
      .view-people-outside-subteams
        = link_to "View #{ pluralize_with_delimiter @people_outside_subteams_count, 'person' } not assigned to a sub-team", people_outside_subteams_group_path(@group)
  .grid-wrapper
    = render partial: "subgroup", collection: @group.children

- if @group.leaf_node?
  .title_with_edit
    %h2 People in #{ @group.short_name }
  .grid-wrapper
    = render partial: "memberships/summary", collection: @group.non_leaderships

- unless @versions.nil?
  %h1 Audit Log
  =render 'shared/audit', versions: @versions
