%p#notice= notice

%p
  %b Name:
  = @group.name
%p
  %b Parent:
  = @group.parent
%p
  %b Leader:
  - @group.leaders.each do |leader|
    = link_to leader, person_path(leader)
%p
  = @group.description

= link_to 'Edit', edit_group_path(@group)
\|

%div
  %h2
    = child_level_description(@group)

  = render partial: "summary", collection: @group.children
