= render partial: 'breadcrumbs'

= content_for :edit_this_page do
  = link_to 'Edit this page', edit_group_path(@group)

= render partial: 'detail'

- if display_children_of_group(@group)
  .title_with_edit
    %h2
      = child_group_list_title(@group)
      within
      = @group.name

  .grid-wrapper
    = render partial: "subgroup", collection: @group.children

- if display_view_all_people_link_for_group(@group)
  = link_to "View all people in #{ @group.name }", group_path(@group), remote: true, id: 'show_people_link'

- if display_all_people_in_group(@group)
  = render partial: 'all_people'
