<h2>
  <%= t('index_title', scope: 'views.users') %>
</h2>

<p>
  <%= t('index_standfirst', scope: 'views.users', count: @users.length) %>
</p>

<table id="users">
  <thead>
    <tr>
      <th>
        <%= t('list.name_header', scope: 'views.users') %>
      </th>
      <th>
        <%= t('list.status_header', scope: 'views.users') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%=  cycle('stripe', '')  %>">
        <td class="name">
          <%= link_to(user, [user, :reviews]) %>
        </td>
        <td class="review-completion-<%=  user.review_completion.description  %>">
          <span class="indicator-dot"></span>
          <%= t('completion', scope: 'helpers.reviews', submitted: user.review_completion.completed, total: user.review_completion.total) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
