

<h2><%= @ao.name %> you have a question</h2>

<div class="pq-header">
    <span class="uin"><%= @question.uin %></span>
    <div>
		Date For Answer: <%= @question.date_for_answer.strftime('%d/%m/%Y') unless @question.date_for_answer.nil? %>
    </div>
	
	<span><%= @question.house_name %>: <%= @question.member_name %></span>

<div class = "panel-indent" style="float: left; width= 66%;">
	<%= @question.question %>
</div>
</div>
<div style="clear:both;">
</div>



Accept: <%= @assignment.accept %>
Reject: <%= @assignment.reject %>
Transfer: <%= @assignment.transfer %>


<%= link_to 'accept action', action: 'accept', email: @ao.email %>
<%= link_to 'reject action', action: 'reject', email: @ao.email %>
