
<h2><%= @ao.name %></h2>

<h3>The Parliamentary Question (<%= @question.uin %>) has been assigned to you</h3>


<%= render partial: 'shared/flash_messages' %>

<div>
    <span class="deadline">
      Deadline for completion:
      <%= @question.internal_deadline.strftime('%d/%m/%Y %H:%M') unless @question.internal_deadline.nil? %>
    <%= render partial: 'shared/deadline_time', locals: {internal_deadline: @question.internal_deadline} %>
    </span>
    <div style="clear:both;">
    </div>
    <span>Question tabled by: <%= @question.member_name %></span>
    In the <%= @question.house_name %>
    <!-- -->
    <div class="panel-indent" style="width= 66%;">
        <%= @question.question %>
    </div>

    <% if @question.action_officers_pq.first.accept %>
        <span class="label label-success">Accepted</span>
    <% elsif @question.action_officers_pq.first.reject %>
        <span class="label label-primary">Rejected</span>
    <% else %>
        <span class="label label-warning">No response</span>
    <% end %>
</div>

<div class="accept-reject-form">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Would you accept responsibility for answering this question?</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <%= form_for @response, :url => {:controller => 'assignment', :action => 'action', :uin => params[:uin]} do |f| %>
                <%= hidden_field_tag 'token', params[:token] %>
                <%= hidden_field_tag 'entity', params[:entity] %>

                <div class="form-group">
                  <div class="radio">
                    <label>
                      <%= f.radio_button :response_action, 'accept' %>
                      Accept
                    </label>
                  </div>
                  <div class="radio">
                     <label>
                      <%= f.radio_button :response_action, 'reject'%>
                      Reject
                    </label>
                  </div>

                </div>

                <div class="<%= 'hide' unless @response.errors.any?%>" id="reason-textarea">
                  <% if !@response.errors[:reason_option].empty? %>
                      <div class="alert  alert-danger">
                        Please select one of the reasons to reject the question
                      </div>
                  <% end %>

                  <div class="form-group">
                    <select class="form-control" name="allocation_response[reason_option]">
                      <option selected="selected" disabled="disabled">Select the reason to reject the question</option>
                      <option>Is for other department in the MoJ</option>
                      <option>Is for other Government department</option>
                      <option>Other Reason</option>
                     </select>
                  </div>
                  <% if !@response.errors[:reason].empty? %>
                      <div class="alert  alert-danger">
                        Please select give us information about why you reject the question
                      </div>
                  <% end %>

                  <div class="form-group">
                    <%= f.label :reason, 'Please explain why you reject the question, or if you are not the right person or department, please tell us who we should contact' %>
                    <%= f.text_area  :reason,  class: 'form-control'%>
                  </div>
                </div>

                <div class="form-group">
                  <%= submit_tag 'Save Response' , class: 'button'%>
                </div>

            <% end %>
          </div>
        </div>

      </div>
    </div>
</div>




