%table.audit
  %thead
    %tr
      %th Event
      %th By
      %th IP address
      %th Browser
      %th At
      %th Change
  %tbody
    -versions.reverse.each do |v|
      %tr
        %td= v.event
        -if v.whodunnit.is_a?(Person)
          %td= link_to v.whodunnit.to_s, v.whodunnit
        - else
          %td= v.whodunnit
        %td= v.ip_address
        %td{title: v.user_agent}=v.user_agent_summary
        %td= v.created_at
        %td
          %ul
            - v.changes.each do |change|
              %li=change


