%h1 #{ app_name }

- if current_user.participant?
  %ul#dashboard
    - if current_user.manager.present?
      - if your_feedback_tab?
        %li.active Your feedback
      - else
        %li.linkable= link_to 'Your feedback', reviews_path

    - if current_user.managees.present?
      - if direct_reports_tab?
        %li.active Your direct reports
      - else
        %li.linkable= link_to 'Your direct reports', users_path

    - if feedback_requests_tab?
      %li.active Feedback requests
    - else
      %li.linkable= link_to 'Feedback requests', feedback_requests_path

- if @subject
  %h2 Direct report: #{ @subject.name }
