- content_for :footer_support_links do
  #feedback_container
    %a{href: '#feedback', id: 'feedbackToggle'}
      Report a problem
    = form_for ProblemReport.new, id: 'feedback' do |f|
      = f.label :goal do
        What were you trying to do?
      = f.text_area :goal

      = f.label :problem do
        What went wrong?
      = f.text_area :problem

      = f.hidden_field :browser

      = f.submit class: 'button'
