#feedback_container
  %a{href: '#feedback', id: 'feedbackToggle'}
    Report a problem
  = form_for ProblemReport.new, id: 'feedback' do |f|

    = f.text_area :goal

    = f.text_area :problem

    - unless logged_in_regular?
      = f.text_field :person_email

    = f.hidden_field :browser

    = f.submit class: 'button'
