#feedback_container
  %a{href: '#feedback', id: 'feedbackToggle'}
    Report a problem
  = form_for ProblemReport.new, id: 'feedback' do |f|

    = f.text_area :goal, class: "form-control"

    = f.text_area :problem, class: "form-control"

    - unless logged_in_regular?
      = f.text_field :person_email, class: "form-control"

    = f.hidden_field :browser

    = f.submit class: 'button'
