- return unless logged_in_regular?

#feedback_container
  %a{href: '#feedback', id: 'feedbackToggle'}
    Report a problem
  = form_for ProblemReport.new, id: 'feedback' do |f|

    = f.text_area :goal

    = f.text_area :problem

    = f.hidden_field :browser

    .form-group
      = f.submit class: 'button'
