- if logged_in_regular?
  = link_to "Hi, #{current_user}", person_path(current_user)
  = profile_image_tag current_user, link: false
- elsif logged_in_readonly? && !@login_screen
  = link_to('To update People Finder, Sign in now', new_sessions_path )
- if feature_enabled?('token_auth')
  = link_to "Sign out", sessions_path, :method => :delete
