%ul#proposition-links
  - if logged_in_regular?
    %li
      = link_to "Signed in as #{current_user}", person_path(current_user)
    - if super_admin?
      %li
        = link_to 'Manage', admin_home_path, class: "manage-link"

    %li
      = link_to "Sign out", sessions_path, :method => :delete
  - elsif logged_in_readonly? && !@login_screen
    %li
      = link_to('To update People Finder, Sign in now', new_sessions_path )