
<% if user_signed_in? %>

<nav class="navbar navbar-default " role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Dashboard', dashboard_path %></li>
        <li><%= link_to 'Action Officers', action_officers_path %></li>
        <li><%= link_to 'Watchlist', watchlist_members_path %></li>
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Admin', admin_path %></li>
		
      </ul>

      <%= form_tag filter_path, { :method => 'get', :class => 'navbar-form navbar-left', :role => 'search'} do %>
          <div class="form-group">
            <%= date_field_tag :search, params[:search], { :id => 'search_field',  :class => 'form-control', :placeholder => 'Search' } %>
          </div>
          <%= submit_tag "Search", { :name => nil, :class => 'btn btn-default' } %>
      <% end %>


      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Sign out', destroy_user_session_path %></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% end %>