%h1 #{ app_name }

- if review_period_closed?
  - if current_user.manager && current_user.managees.present?
    %ul#tab_navigation
      - if your_feedback_tab?
        %li.active #{ t('tab_navigation.your_feedback') }
      - else
        %li= link_to t('tab_navigation.your_feedback'), results_reviews_path

      - if direct_reports_tab?
        %li.active #{ t('tab_navigation.your_direct_reports') }
      - else
        %li= link_to t('tab_navigation.your_direct_reports'), results_users_path

- else
  - if current_user.participant?
    %ul#tab_navigation
      - if current_user.manager.present?
        - if your_feedback_tab?
          %li.active #{ t('tab_navigation.your_feedback') }
        - else
          %li.linkable= link_to t('tab_navigation.your_feedback'), reviews_path

      - if current_user.managees.present?
        - if direct_reports_tab?
          %li.active #{ t('tab_navigation.your_direct_reports') }
        - else
          %li.linkable= link_to t('tab_navigation.your_direct_reports'), users_path

      - if feedback_requests_tab?
        %li.active #{ t('tab_navigation.feedback_requests') }
      - else
        %li.linkable= link_to t('tab_navigation.feedback_requests'), feedback_requests_path

- if @subject
  %h2 Direct report: #{ @subject.name }
