%h1 #{ @group.name } people finder
= link_to 'Add new profile', new_person_path, class: 'add-new-person'

%h3 Search the people finder
.hint-text{ aria: { hidden: 'true' } } Enter the name of a person or role
= render 'peoplefinder/shared/search'

.hint-text Find out how to contact people, what team they’re in and the hours they work. You can also 'add a new person' to your team.

%h3.org-structure Our organisational structure
.hint-text
  Click on departments and teams, or see the whole of the
  = link_to  @group.name, groups_path

= render 'peoplefinder/shared/org_browser'
