- content_for :body_classes, 'home-page'

%h1= t('peoplefinder.home.heading', group_name: @group.name)
%p= t('peoplefinder.home.explanation')

%p= t('peoplefinder.home.usage')

%h2= t('peoplefinder.home.search_heading')
%p.hint-text{ aria: { hidden: 'true' } }= t('peoplefinder.home.search_hint')

= render 'peoplefinder/shared/search'

%h2.org-structure= t('peoplefinder.home.org_heading')
%h3.hint-text= t('peoplefinder.home.org_sub_heading')
%p.hint-text= t('peoplefinder.home.org_hint_html', link: link_to(@group.name, groups_path))

= render 'peoplefinder/shared/org_browser', org_structure: @org_structure
