.grid-row.mod-heading
  .column-full.cb-login-email-info
    %h1.heading-xlarge.mod-heading-border
      = t('tokens.create.title')

    %p.lede
      = t('tokens.create.body_intro')
    - if @unauthorised_login
      %p
        = t('tokens.create.body_ttl_warning', ttl: distance_of_time_in_words(Token.ttl))
    %p
      = t('tokens.create.body_informative_html')
    %p
      = t('tokens.create.body_dont_panic')