- content_for :body_classes do
  = 'home-page '

- if unsupported_browser?
  .cb-unsupported-browser-warning.error-summary{"aria-labelledby" => "error-summary-heading", :role => "group", :tabindex => "-1"}
    = t('.unsupported_browser_warning_html')

.grid-row
  .column-two-thirds
    %h1.heading-xlarge.cb-page-title
      = t('.heading', group_name: @department.name)

    %p.lede
      = t('.explanation')

  .column-one-third
    .heading-medium.mod-home-info.cb-about-usage
      = t('.about_usage')

= render 'shared/search'

.grid-row
  .column-full
    .heading-small.mod-link.cb-browse-teams
      = link_to "Browse #{Group.department.short_name} teams", browse_path
