= simple_nested_form_for @objectives_agreement do |f|
  = f.error_notification

  #objectives
    = f.simple_fields_for :objectives
  .inner-block
    = f.link_to_add 'Add more', :objectives, data: { target: '#objectives' }

  .inner-block
    %fieldset
      .form-checkbox
        = sign_off_box(f, :manager)
      .form-checkbox
        = sign_off_box(f, :staff_member)

  .inner-block
    .actions
      = f.button :submit
