= simple_nested_form_for @objectives_agreement do |f|
  = f.error_notification

  #objectives
    = f.simple_fields_for :objectives
  .inner-block
    = f.link_to_add 'Add more', :objectives, data: { target: '#objectives' }

  .inner-block
    %fieldset
      .form-checkbox
        = f.input :objectives_signed_off_by_manager, label: t('simple_form.labels.objectives_agreement.objectives_signed_off_by_manager', name: @objectives_agreement.manager), label_html: { class: 'block-label' }
      .form-checkbox
        = f.input :objectives_signed_off_by_staff_member, label: t('simple_form.labels.objectives_agreement.objectives_signed_off_by_staff_member', name: @objectives_agreement.staff_member), label_html: { class: 'block-label' }

  .inner-block
    .actions
      = f.button :submit
