= simple_form_for @objectives_agreement do |f|
  = f.error_notification

  #objectives.cloneable
    - @objectives_agreement.objectives.each do |objective|
      .cloneable-item
        .grid-divider
        .grid-wrapper
          = f.simple_fields_for :objectives do |br_f|
            = render 'objective_fields', f: br_f
    .inner-block
      = render partial: 'agreements/clone_buttons'

  .inner-block
    .actions
      = f.button :submit
