.grid-divider
.grid-wrapper
  .form-group
    .grid.grid-1-4
      .inner-block
        = f.input :objective_type, label: 'Type', required: false, as: :text, input_html: { class: 'x-wide' }
    .grid.grid-1-4
      .inner-block
        = f.input :description, label: 'Objective', required: false, as: :text, input_html: { class: 'x-wide' }
    .grid.grid-1-4
      .inner-block
        = f.input :deliverables, label: 'Deliverables', required: false, as: :text, input_html: { class: 'x-wide' }
    .grid.grid-1-4
      .inner-block
        = f.input :measurements, label: 'Measures / Targets', required: false, as: :text, input_html: { class: 'x-wide' }
.inner-block
  = f.link_to_remove "Remove"
