%a{:href => "#proposition-links", :class => "js-header-toggle menu"}
  Menu
%nav{:id => "proposition-menu"}
  %ul{:id => "proposition-links"}
    -#%li
    -#  = link_to "People finder", ENV['PEOPLEFINDER_URL']
    %li
      = link_to "News and views", "/news/"
    %li
      = link_to "Working at DIT", "/"
    %li
      = link_to "About DIT", "/"
    %li
      = link_to "Tools", "/"
    %li
      = link_to "Data Hub", "/"
