= simple_form_for [@person, @membership] do |f|
  %fieldset
    .form-group
      = f.input :role, as: :string
    .form-group
      = f.association :group, collection: @candidates
    .form-checkbox
      = f.input :leader, as: :boolean
    .form-group
      = f.button :submit
