%h4= submission.subject.name

%p Please accept or decline this request:
= simple_form_for submission, url: submission_path(submission) do |f|
  = f.input :status, as: :radio_buttons,
                     collection: [['Accept', :started], ['Declined', :declined]]

  .reason_declined_fields.hidden
    %p You must explain the reason why you are declining this request
    = f.input :reason_declined

  = f.button :submit, label: 'Update'
