- form ||= nil
- field_name ||= :group_id

- org_structure.each do |group, subgroups|
  %div.team
    %h3
      - if form
        = form.radio_button(field_name, group.id)
      %a{href: group_path(group['id']), :class => 'team-link'}
        = group['name']
    - if subgroups.size > 0
      %ul
        - subgroups.each do |subgroup, subsubgroups|
          %li{:class => (subsubgroups.size > 0 ? 'has-subteams' : 'leaf-node')}
            %p
              - if form
                = form.radio_button(field_name, subgroup.id)
              %a{href: url_for(subgroup), :class => 'subteam-link'}
                %span.subteam-name= subgroup.name
                - if subsubgroups.size > 0
                  %span.subteam-count= "#{pluralize(subsubgroups.size, ' sub-team')}"
            - if subsubgroups.size > 0
              = render 'peoplefinder/shared/new_org_browser_level', org_structure: { subgroup => subsubgroups }, form: form, field_name: field_name
