%div.team
  %h3
    %a{href: url_for(group), :class => 'team-link'}
      = group.name
  - if group.has_children?
    %ul
      - group.children.each do |child|
        %li{:class => ('has-subteams' if child.has_children?)}
          %p
            %a{href: url_for(child), :class => 'subteam-link'}
              %span.subteam-name= child.name
              - if child.has_children?
                %span.subteam-count= "#{pluralize(child.children.count, ' sub-team')}"
          - if child.has_children?
            = render 'peoplefinder/shared/new_org_browser_level', group: child
