%h4= submission.subject.name

%p Please accept or reject this request:
= simple_form_for submission, url: submission_path(submission) do |f|
  = f.input :status, as: :radio_buttons,
                     collection: [['Accept', 'started'], ['Reject', 'rejected']]

  .rejection_reason_fields.hidden
    %p Please explain why you have rejected the request
    = f.input :rejection_reason

  = f.button :submit, label: 'Update'
