= simple_form_for submission, url: submission_path(submission) do |f|
  %p
  %strong= submission.subject.name
  = f.input :status, as: :hidden, input_html: { value: 'started' }
  = f.input :rejection_reason, as: :hidden, input_html: { value: '' }
  = f.button :submit, 'Accept request'
