<% content_for :back_link do %>
  <%= link_to t('submissions.return_to_dashboard'), replies_path %>
<% end %>

<% content_for :top_right do %>
  <%= render partial: 'autosave' %>
<% end %>

<% content_for :page_title do %>
  <%= t('submissions.title', name: @submission.subject_name) %>
<% end %>

<div class="intro">
  <%= govspeak(t('submissions.intro', name: @submission.subject_name)) %>
</div>

<hr/>

<%= form_for @submission, html: { class: 'autosave submission-form' } do |f| %>
  <h2>
    <%= t('submissions.section_1.title') %>
  </h2>

  <%= govspeak(t('submissions.section_1.intro', new_tab_link_image: asset_url('new_tab_link_icon.png'))) %>

  <% Review::SECTION_1_RATING_FIELDS.each do |rating| %>
    <%= f.radio_buttons(rating, %w[ 1 2 3 4 5 0 ], inline: true,
          labeler: ->(v) { t(v, scope: 'submissions.ratings') }) %>
  <% end %>

  <%= f.text_area :leadership_comments %>

  <hr class="more-space"/>

  <h2>
    <%= t('submissions.section_2.title') %>
  </h2>

  <%= govspeak(t('submissions.section_2.intro', new_tab_link_image: asset_url('new_tab_link_icon.png'))) %>

  <% Review::SECTION_2_RATING_FIELDS.each do |rating| %>
    <%= f.radio_buttons(rating, %w[ 1 2 3 4 5 0 ], inline: true,
          labeler: ->(v) { t(v, scope: 'submissions.ratings') }) %>
  <% end %>

  <%= f.text_area :how_we_work_comments %>

  <hr class="more-space"/>

  <div class="action-row">
    <%= f.button %>
    <div>
      <%= link_to t('submissions.return_to_dashboard'), replies_path %>
    </div>
    <%= render partial: 'autosave' %>
  </div>
<% end %>
