= simple_form_for @submission, html: { class: 'autosave' } do |f|

  - Review::RATING_FIELDS.slice(0,4).each do |rating|
    = f.input rating, as: :radio_buttons, collection: %w{ 3 }

  = f.input :leadership_comments

  - Review::RATING_FIELDS.slice(4,7).each do |rating|
    = f.input rating, as: :radio_buttons, collection: %w{ 3 }

  = f.input :how_we_work_comments

  = f.button :submit, 'Submit'

= link_to 'Leadership model', leadership_model_path
