%h1 Audit Trail

.font-xsmall= will_paginate(@versions)
%table
  %th Date
  %th Action
  %th Changed by

  - @versions.each do |version|
    %tr
      %td= version.created_at.to_formatted_s(:long)
      %td
        %h4= event_description(version)
        %p= link_to_edited_item(version)
        %p
          - if version.item_type =~ /Membership/
            = render partial: 'membership', locals: { version: version }

          - else
            - version.changeset.each do |k|

              - if k[1][0].present?
                %strong
                  = k[0].humanize
                  changed from
                = k[1][0]
                %strong to
                = k[1][1]
              - else
                %strong
                  = k[0].humanize
                  set to:
                = k[1][1]
              %br
      %td= version.whodunnit
      %td= button_to 'undo', "/audit_trail/undo/#{version.id}"
.font-xsmall= will_paginate(@versions)
