%h1 Audit Trail

.font-xsmall= will_paginate(@versions)
%table
  %th Date
  %th Item
  %th Action
  %th Changed by

  - @versions.each do |version|
    %tr
      %td= version.created_at.to_formatted_s(:long)
      %td
        - item = version.item || eval(version.item_type).with_deleted.where(id: version.item_id).first
        .bold-xsmall= version.item_type.humanize
        - if item.is_a?(Membership)
          = item.group.name
        - else
          = item
      %td
        - if version.event =~ /destroy/
          = 'Record deleted'
        - version.changeset.each do |k|
          = k[0].humanize

          - if k[1][0].present?
            changed from: #{ k[1][0] }
          - else
            set
          to: #{ k[1][1] }
          %br
      %td= version.whodunnit
.font-xsmall= will_paginate(@versions)
