- membership, verb = (version.destruction?) ? [version.reify, 'was'] : [version.item, 'set to']
- if membership
  %strong Person #{ verb }:
  = membership.person
  %br
  %strong Team #{ verb }:
  = membership.group
  %br
  %strong Job title #{ verb }:
  = membership.role
  %br
  %strong Leader #{ verb }:
  = membership.leader? ? 'Yes' : 'No'
