%h1 Audit Trail

.font-xsmall= will_paginate(@versions)
%table
  %thead
    %tr
      %th Date
      %th Action
      %th Changed by
      %th

  %tbody
    - @versions.each do |version|
      %tr
        %td= l(version.created_at)
        %td
          %h4= version.event_description
          %p= link_to_edited_item(version)
          %p= render partial: view_template(version), locals: { version: version }

        %td= version.whodunnit
        %td
          - unless version.membership?
            = button_to 'undo', "/audit_trail/undo/#{version.id}", data: { confirm: 'Are you sure you want to undo this change?' }

.font-xsmall= will_paginate(@versions)
