- content_for :html_attributes, 'ng-app="peoplefinderApp"'.html_safe
= render partial: 'layouts/peoplefinder/shared'
- content_for :content do
  #wrapper
    %main#content{role: 'main'}
      = yield :editing_alert
      = flash_messages
      .inner-block
        %nav
          .breadcrumbs= yield :breadcrumbs
      - if current_user && !@editing_mode
        .grid-wrapper
          .grid.grid-2-3
            .inner-block= render 'peoplefinder/shared/search'
          .grid.grid-1-3
            .inner-block= link_to 'Add new profile', new_person_path, class: 'add-new-person'
      .inner-block
        = yield
        #report_link
          = yield :report_link
        #last_update
          = last_update

= render 'layouts/peoplefinder/ga'
= render template: "layouts/peoplefinder/peoplefinder"
