- content_for :html_attributes, 'ng-app="peoplefinderApp"'.html_safe
= render partial: 'layouts/peoplefinder/shared'
- content_for :header_app_name do
  =link_to app_title, home_path
- content_for :content do
  #wrapper
    %main#content{role: 'main'}
      = render partial: 'layouts/partials/phase'
      = yield :editing_alert
      = flash_messages
      = render "peoplefinder/shared/loginout"
      .inner-block
        %nav
          .breadcrumbs= yield :breadcrumbs
      - if current_user && !@editing_mode
        .grid-wrapper
          .grid.grid-2-3
            .inner-block= render 'peoplefinder/shared/search'
          .grid.grid-1-3
            .inner-block= render 'peoplefinder/shared/edit_links'
      .inner-block
        = yield
        #report_link
          = yield :report_link
        #last_update
          = last_update

= render 'layouts/peoplefinder/script'
= render template: "layouts/peoplefinder/peoplefinder"
