<%= render partial: "shared/flash_messages", flash: flash %>

<h1>Listing Watchlist members
<%= link_to raw('<i class="fa fa-plus"></i> Add watchlist member'), new_watchlist_member_path, {class: 'btn btn-success', style: 'color:#ffffff;'} %>

<%= link_to raw('<i class="fa fa-envelope"></i> Send allocation info'), {controller: 'watchlist_send_emails', action: 'send_emails'}, {class: 'btn btn-success', style: 'color:#ffffff;'} %>

</h1>

<table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Active/Inactive</th>
      <th></th>
      <th></th>
    </tr>
    <% @watchlist_members.each do |watchlist_member| %>
      <tr>
        <td><%= watchlist_member.name %></td>
        <td><%= watchlist_member.email %></td>
        <td>
            <% if watchlist_member.deleted %>
              <i class="fa fa-times"></i>Inactive
            <% else %>
              <i class="fa fa-check-circle"></i>Active
            <% end %>
        </td>
        <td><%= link_to 'Show', watchlist_member, {class: 'btn btn-default' } %></td>
        <td><%= link_to 'Edit', edit_watchlist_member_path(watchlist_member), {class: 'btn btn-info', style: 'color:#ffffff;'} %></td>
      </tr>
    <% end %>
</table>

<br>

