<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @watchlist_member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @watchlist_member.email %>
</p>

<p>
  <% if @watchlist_member.deleted %>
      <i class="fa fa-times"></i>Inactive
  <% else %>
      <i class="fa fa-check-circle"></i>Active
  <% end %>
</p>

<%= link_to 'Edit', edit_watchlist_member_path(@watchlist_member), {class: 'btn btn-info', style: 'color:#ffffff;' } %>
<%= link_to 'Back to watchlist', watchlist_members_path, {class: 'btn btn-warning', style: 'color:#ffffff;' } %>
