%tr
  %td{ align:"left", valign: "top", width: "560" }
    Hello #{@person.given_name},
%tr
  %td{ align: "left", valign: "top", style: "line-height: 30px;", width: "560" }
    %p
      We've noticed that you haven't updated #{ link_to 'your profile',@token_url }.
    %p
      To help your colleagues, it's a good idea to make sure your details are up to date - expecially if you've change your role or location.

    %p
      Check your details:
    = browser_warning
    = easy_copy_link_to url: @token_url
    = app_guidance
    = do_not_reply
