%table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;"}
  %tbody
    %tr
      %td{style: "min-width:10px;border-collapse:collapse;", width: "20"}
      %td{align: "center", style: "border-collapse:collapse;", valign: "top", width: "560"}
        %table.body{align: "center", border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;"}
          %tbody
            %tr
              %td{align: "left", style: "font-family:Arial, sans-serif;font-size:22px;font-weight:normal;line-height:normal;color:#434343;padding-bottom:30px;border-collapse:collapse;", valign: "top", width: "560"}
            %tr
              %td{align: "left", style: "font-family:Arial, sans-serif;font-size:16px;font-weight:normal;line-height:30px;color:#434343;padding-bottom:20px;border-collapse:collapse;", valign: "top", width: "560"}
                Hello #{@person.given_name},
            %tr
              %td{align: "left", style: "font-family:Arial, sans-serif;font-size:16px;font-weight:normal;line-height:30px;color:#434343;padding-bottom:20px;border-collapse:collapse;", valign: "top", width: "560"}
                %p
                  We’ve noticed that you’ve not updated #{link_to 'your People Finder page', @token_url, target: '_blank'} recently.
                %style{ type: "text/css" }
                  :plain
                    dt {
                      float:left;
                      margin-right:0.4em;
                      font-weight: bold;
                    }
                    dt:after {
                      content:':'
                    }
                %p You can see the information that visitors to your page are viewing below:
                %dl
                  %dt Name
                  %dd= @person.name

                  %dt Days worked
                  %dd= days_worked @person

                  - @person.memberships.group_by(&:group).each do |group, memberships|
                    %dt Team
                    %dd
                      = group.name
                      - if memberships.any?(&:leader)
                        = '- you are a team leader'

                    - roles = memberships.map(&:role).select(&:present?).sort.join(', ')
                    %dt Role
                    %dd= roles.presence || '-'

                  %dt Location
                  %dd= @person.location.presence || '-'

                  - if @person.secondary_email.present?
                    %dt= t(:secondary_email, scope: 'activerecord.attributes.person')
                    %dd= @person.secondary_email

                  %dt Primary phone number
                  %dd= @person.primary_phone_number.presence || '-'

                  - if @person.secondary_phone_number.present?
                    %dt Other phone number
                    %dd= @person.secondary_phone_number

                  %dt Current project(s)
                  %dd= @person.current_project.presence || '-'

                  - if @person.description.present?
                    %dt Extra information:
                    %dd= @person.description

                %p
                  If anything’s changed over recent months, why not help your co-workers stay in touch and #{link_to 'update your details', @token_url, target: '_blank'} now.

                %p
                  The People Finder Team

                %p
                  We welcome your feedback on People Finder. Please reply to this email if you'd like to share your thoughts.

      %td{style: "min-width:10px;border-collapse:collapse;", width: "20"}
