%tr
  %td{ align:"left", valign: "top", style: "padding-bottom: 20px;", width: "560" }
    Hello #{@person.given_name},
%tr
  %td{ align:"left", valign: "top", style: "line-height: 30px;", width: "560" }
    %p
      We’ve noticed that you haven't updated #{link_to 'your profile', @token_url, target: '_blank'} in the last 6 months.
    %p
      To help your colleagues, it’s a good idea to make sure your details are up to date - especially if you’ve changed your role or location. These are your current details:
    %style{ type: "text/css" }
      :plain
        dt {
          float:left;
          margin-right:0.4em;
          font-weight: bold;
        }
        dt:after {
          content:':'
        }
    %dl
      %dt Name
      %dd= @person.name

      %dt Days worked
      %dd= days_worked @person

      - @person.memberships.group_by(&:group).each do |group, memberships|
        %dt Team
        %dd
          = group.name
          - if memberships.any?(&:leader)
            = '- you are a team leader'

        - roles = memberships.map(&:role).select(&:present?).sort.join(', ')
        %dt Role
        %dd= roles.presence || '-'

      %dt Location
      %dd= @person.location.presence || '-'

      - if @person.secondary_email.present?
        %dt= t(:secondary_email, scope: 'activerecord.attributes.person')
        %dd= @person.secondary_email

      %dt Primary phone number
      %dd= @person.primary_phone_number.presence || '-'

      - if @person.secondary_phone_number.present?
        %dt Other phone number
        %dd= @person.secondary_phone_number

      - if @person.pager_number.present?
        %dt Pager number
        %dd= @person.pager_number

      %dt Current project(s)
      %dd= @person.current_project.presence || '-'

      - if @person.description.present?
        %dt Extra information:
        %dd= @person.description

      %p
        Check your profile:
      = browser_warning
      = easy_copy_link_to url: @token_url
      = app_guidance
      = do_not_reply
