%tr
  %td{ align:"left", valign: "top", style: "padding-bottom: 20px;", width: "560" }
    Hello #{@person.given_name},
%tr
  %td{ align:"left", valign: "top", style: "line-height: 30px", width: "560" }
    We’ve noticed that #{link_to 'your team’s information', edit_group_url(@group), target: '_blank'} is missing a team description.
    %p
      Giving more details about what your team does and who’s in it can be a great help to colleagues.
    %p
      Check your team's profile:
    = browser_warning
    = easy_copy_link_to url: edit_group_url(@group)
    = app_guidance
    = do_not_reply
