%tr
  %td
    %p= agreement.jobholder
    %p= "#{ agreement.jobholder.organisation } (#{ agreement.jobholder.grade })"
  %td= button_to 'Responsibilities', edit_responsibilities_agreement_path(agreement), method: :get, class: :button
  %td= button_to 'Objectives', edit_objectives_agreement_path(agreement), method: :get, class: :button
  %td
