= simple_form_for @agreement do |f|
  = f.error_notification

  %fieldset

    %h2 Budgetary
    #budgetary-responsibilities
      - @agreement.budgetary_responsibilities.each do |budgetary_responsibility|
        = f.fields_for :budgetary_responsibilities, OpenStruct.new(budgetary_responsibility), index: nil do |br_f|
          = render 'budgetary_responsibility_fields', f: br_f

    %h2 Headcount
    .form-group.budgetary-responsibilities
      = f.input :number_of_staff, as: :text
      = f.input :staff_engagement_score, as: :text


    %h2 Objectives
    #objectives
      - @agreement.objectives.each do |objective|
        = f.fields_for :objectives, OpenStruct.new(objective), index: nil do |br_f|
          = render 'objective_fields', f: br_f
    .actions
      = f.button :submit, 'Save'
