<h2><%= t('admin.users.list_header') %></h2>

<table>
  <thead>
    <tr>
      <th><%= t('admin.users.list.headers.name') %></th>
      <th><%= t('admin.users.list.headers.email') %></th>
      <th><%= t('admin.users.list.headers.participant') %></th>
      <th><%= t('admin.users.list.headers.administrator') %></th>
      <th colspan="3"><%= t('admin.users.list.headers.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="name"><%= user %></td>
        <td><%= user.email %></td>
        <td><%= t_boolean('admin.users.list.participant', user.participant) %></td>
        <td><%= t_boolean('admin.users.list.administrator', user.administrator?) %></td>
        <td><%= link_to t('admin.users.edit_cta'), edit_admin_user_path(user) %></td>
        <td>
          <% if user != current_user %>
            <%= button_to t('admin.users.delete_cta'), admin_user_path(user), method: :delete,
              data: { confirm: t('common.confirm_action') } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= link_to t('admin.users.new_cta'), new_admin_user_path %> |
<%= link_to t('common.go_back'), admin_path %>
