%h3= role_translate(@reviews.any? ? :some : :none, scope: 'views.reviews.add_reviewer_title')

= form_for [@subject, @review].compact do |f|
  = f.text_field :author_name
  = f.text_field :author_email
  = f.collection_select(:relationship, Review::RELATIONSHIPS, default: :peer){ |v| t(v, scope: 'reviews.relationships') }
  = f.text_area :invitation_message
  %fieldset
    = f.button
