<h3>
  <%= role_translate(@reviews.any? ? :some : :none, scope: 'views.reviews.add_reviewer_title') %>
</h3>
<%= form_for [@subject, @review].compact do |f| %>
  <%= f.text_field :author_name %>
  <%= f.text_field :author_email %>
  <%= f.collection_select(:relationship, [nil] + Review::RELATIONSHIPS,
        labeler: ->(v) { t(v, scope: 'reviews.relationships', default: '') }) %>
  <%= f.text_area :invitation_message %>
  <fieldset>
    <%= f.button nil, { id: 'add-reviewer-btn' }  %>
  </fieldset>
<% end %>
