- if @subject
  - content_for :back_link do
    = link_to t('submissions.return_to_dashboard'), :back

- content_for :page_title do
  = role_translate('views.reviews.index_title')

- if @reviews.any?
  = render partial: 'reviews_received'
- else
  %h2= t('views.reviews.feedback_not_received_title')
= render partial: 'add_reviewer'
