<% if scoped_by_subject? %>
  <% content_for :back_link do %>
    <%= link_to t('submissions.return_to_dashboard'), :back %>
  <% end %>
<% end %>

<% content_for :page_header do %>
  <% if third_party? %>
    <h1><%= role_translate('views.reviews.index_title') %></h1>
  <% end %>
<% end %>

<% if @reviews.any? %>
  <%= render partial: 'reviews_received' %>
<% else %>
  <h2>
    <%= t('views.reviews.feedback_not_received_title') %>
  </h2>
<% end %>

<%= render partial: 'add_reviewer' %>
