%h2 Invite people to give you feedback

%ul
  - @reviews.each do |review|
    %li
      - if review.status == :submitted
        = link_to review.author_name, polymorphic_path([@subject,review].compact)
      - else
        = review.author_name
      = t(review.status, scope: 'reviews.statuses')

      - if review.status == :no_response
        = render partial: 'send_reminder', locals: { review: review }

= render partial: 'add_reviewer'
