- content_for :back_link do
  = link_to t('submissions.return_to_dashboard'), :back

- content_for :page_title do
  = t('views.reviews.show_review_title', subject: @review.subject_name)

%h2= t('views.reviews.show_review_subtitle', author: @review.author_name)

%hr

%h2= t('submissions.section_1.title')

- Review::SECTION_1_RATING_FIELDS.each do |rating|
  %h4= t(rating, scope: 'helpers.label.submission')
  %p{class: "rating-view rating-#{@review.send(rating)}"}= t(@review.send(rating), scope: 'views.reviews.ratings')

%h4= t('views.reviews.leadership_comments')
%p= @review.leadership_comments

%hr

%h2= t('submissions.section_2.title')

- Review::SECTION_2_RATING_FIELDS.each do |rating|
  %h4= t(rating, scope: 'helpers.label.submission')
  %p{class: "rating-view rating-#{@review.send(rating)}"}= t(@review.send(rating), scope: 'views.reviews.ratings')

%h4= t('views.reviews.how_we_work_comments')
%p= @review.how_we_work_comments

%hr
