%h2 Feedback from #{ @review.author_name}

%p General performance rating: #{ @review.rating}

%h4 What worked well and why?
%p #{ @review.achievements }

%h4 Where would a different approach or behaviour have worked better and why?
%p #{ @review.improvements }

= link_to 'Back to participant list', :back
