%h2= t('views.reviews.show_review_title', author: @review.author_name)

%p #{ t('simple_form.labels.submission.rating') }: #{ @review.rating}

%h4= t('simple_form.labels.submission.achievements')
%p= @review.achievements

%h4= t('simple_form.labels.submission.improvements')
%p= @review.improvements

= link_to 'Back to participant list', :back
