%br/
/= render 'shared/search'

%h1.heading-xlarge.with-border-lg
  Help improve this profile

= GovukElementsErrorsHelper.error_summary @suggestion,
  "There is a problem with the form",
  "Check below for more detail"

= form_for @suggestion, builder: SuggestionFormBuilder, url: person_suggestions_path do |f|

  %fieldset
    %legend.form-label-bold Ask the person to:

    = f.check_box :missing_fields, target: '.missing-fields-info'
    .missing-fields-info.extra-info{style: 'display: none;'}
      = f.text_area :missing_fields_info

    = f.check_box :incorrect_fields, target: '.incorrect_fields_info'
    .incorrect_fields_info.extra-info{style: 'display: none;'}
      %span.form-hint
        Choose which information is incorrect
      - Suggestion::POTENTIALLY_INCORRECT_FIELDS.each do |field|
        = f.check_box "incorrect_#{field}".to_sym

  %fieldset
    %legend.form-label-bold Ask the team admin to:

    = f.check_box :duplicate_profile

    = f.check_box :inappropriate_content, target: '.inappropriate-content-info'
    .inappropriate-content-info.extra-info{style: 'display: none;'}
      = f.text_area :inappropriate_content_info

    = f.check_box :person_left, target: '.person-left-info'
    .person-left-info.extra-info{style: 'display: none;'}
      = f.text_area :person_left_info

  .submit-button{style: 'display: none;'}
    =f.submit 'Submit', class: 'button'
