- @editing_mode = true
%h1.no-line= @page_title = 'Report this profile'

= simple_form_for @reported_profile, url: person_reported_profiles_path(@person) do |f|
  .form-group
    = f.input :reason_for_reporting, collection: Peoplefinder::ReportedProfile::REASONS, required: false

  .form-group
    = f.input :additional_details, label: info_text("reported_profile_additional_details_label")

  .form-group
    = f.button :submit, 'Submit'
    .cancel
      = link_to 'Cancel and return to profile page', person_path(@person)
