<h2>Commission </h2>

<%= render partial: "shared/flash_messages", flash: flash %>

<%= form_for @aap, :url => { :action => "assign", :id => @aap[:pq_id] } do |f| %>


    <div class="textbox" style="clear:both;">
      <%= f.label(:action_officer_id) %>
      <%= f.text_field(:action_officer_id) %>
    </div>
	<%= f.hidden_field(:pq_id) %>
<%= f.submit 'Commission', :class => 'button' %>

<% end %>

