<h2>Question Details</h2>

<%= render partial: "shared/flash_messages", flash: flash %>

<%= form_for @pq, :url => { :action => "update", :id => @pq[:uin] } do |f| %>


<div class="questions-detail-outer" style="overflow:auto;">
  <div>
    <span class="uin"><%= @pq.uin %></span>
    <%= render partial: 'shared/deadline_time', locals: {internal_deadline: @pq.internal_deadline} %>
  </div>
  <div style="Width:400px; float:left;">
    <div>
        <div>
        Tabling Member: <%= @pq.member_name %>
        </div>
        <div>
        Constituency: <%= @pq.member_constituency %>
        </div>
        <div>
        House: <%= @pq.house_name %>
        </div>
        <div id="question_allocation_<%= @pq.id %>">
          <%= render partial: 'shared/question_assigned', locals: {question: @pq} %>
        </div>
    </div>
  </div>
  <div style="float:right;">

    <div class="deadline_input">
      <label for="internal_deadline">Deadline</label>
      <div class='input-group date' id='datetimepicker' data-date-format="DD/MM/YYYY HH:mm">
        <input class="form-control" id="pq_internal_deadline" name="pq[internal_deadline]" type="text" value="<%= @pq.internal_deadline.strftime('%d/%m/%Y %H:%M') unless @pq.internal_deadline.nil? %>">
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

  	<div>
    	<span class="date">Date For Answer: <%= @pq.date_for_answer.strftime('%d/%m/%Y') unless @pq.date_for_answer.nil? %></span>
  	</div>
  	<div>
    	<span class="date">Date Tabled: <%= @pq.tabled_date.strftime('%d/%m/%Y') unless @pq.tabled_date.nil? %></span>
  	</div>

    <div class="checkbox">
      <%= f.label(:seen_by_finance) %>
      <%= f.check_box(:seen_by_finance) %>
    </div>
    <div class="checkbox">
      <%= f.label(:press_interest) %>
      <%= f.check_box(:press_interest) %>
    </div>
    <div class="checkbox">
      <%= f.label(:finance_interest) %>
      <%= f.check_box(:finance_interest) %>
    </div>

  </div>
  <div class = "panel-indent" style="float: left; width= 66%;">
    <%= @pq.question %>
  </div>

  <div style = "float: left; width= 33%;">
	<% if @pq.seen_by_finance %>
        <div>
          <span class = "label label-success"><span class="glyphicon glyphicon-eye-open"></span> Seen By Finance</span>
        </div>
	<%else%>
        <div>
            <span class = "label label-default" style="line-height:2;"><span class="glyphicon glyphicon-eye-close"></span> Not Seen By Finance</span>
        </div>
	<% end %>
	<% if @pq.press_interest %>
        <div>
            <span class = "label label-success">Press Interest</span>
        </div>
	<% end %>
	<% if @pq.finance_interest %>
        <div>
            <span class = "label label-success">Finance Interest</span>
        </div>
	<% end %>
  </div>

</div>

<% if @pq.registered_interest %>

 <div>
  <span>Member has registered an interest in the Question.</span>
 </div>
  
 <% end %>
      <div class="minister-info">
        <label>Set replying minister</label>
        <%= f.collection_select(:minister_id, @minister_list, :id, :name, :include_blank => "Please select") %>
      </div>
      <div class="minister-info">
        <label>Set optional policy minister</label>
        <%= f.collection_select(:policy_minister_id, @minister_list, :id, :name, :include_blank => "Only select if needed") %>
      </div>

<p>
<%= f.submit 'Update', :class => 'button' %>
</p>
<div>
<% if @pq.seen_by_finance  %>
    <label>Add action officer(s) for commissioning</label>
      <%= form_for [@pq, ActionOfficersPq.new], :remote => true, :authenticity_token => true, :html => { :id => "form-commission#{@pq.id}", :class => 'form-commission', :data => {:pqid => "#{@pq.id}" }}, :url => {:controller => 'commission', :action => "assign", :id => @pq.id } do |f| %>
        <%= collection_select(:action_officers_pq, :action_officer_id, ActionOfficer.all, :id, :name, {}, {:multiple => true, :class => 'multi-select-action-officers', :id => "action_officers_pq_action_officer_id-#{@pq.id}" }) %>
        <%= f.hidden_field(:pq_id , :value => @pq.id ) %>
        </br><%= f.submit 'Commission', :class => 'btn btn-success btn-sm' %>
      <% end %>
<%end%>
</div>					 

<% end %>

