%div.footer-content
  %div.acknowledgements
    %ul
      %li
        = link_to("Teams", "")
      %li
        = link_to("Networks", "")
      %li
        = link_to("Regions", "")
      %li
        = link_to("Sectors", "")
    %p
      = "Built by the #{link_to('DIT Digital', '#')} team".html_safe