= render "shared/loginout"
- content_for :head do
  = stylesheet_link_tag "application"
- content_for :content do
  %div.class
    %main#content{role: 'main'}
      %div.inner-block
        = render "shared/search"
        %div.edit_this_page= yield :edit_this_page
        = yield
= render template: "layouts/moj_internal_template"
