!!!
%html
  %head
    = render "shared/head", :title => Rails.configuration.app_title

  %body

    = render "shared/header"

    #wrapper.group
      = render "shared/phase_indicator"
      %section#content.group{:role => "main"}
        .full-width-group
          = moj_flash
          = yield

    = render "shared/footer"

    = render "shared/script"