- content_for :head do
  = javascript_include_tag "application"
  = stylesheet_link_tag "application"
- content_for :content do
  .class
    %main#content{role: 'main'}
      - if Rails.application.config.respond_to?(:phase)
        = render partial: 'layouts/partials/phase'
      = flash_messages
      .inner-block
        = render partial: 'shared/tab_navigation'
        = yield
= render partial: "shared/loginout"
= render template: "layouts/moj_internal_template"
