//Text inside the <title> element GOV.UK - The best place to find government services and information
- content_for :page_title do
  = page_title

//Before closing </head> element  Insertion point
- content_for :head  do
  = stylesheet_link_tag "application", media: "all"
  = csrf_meta_tag
  %meta{name: "format-detection", content: "telephone=no"}

// Classes to be added to the <body> element  Insertion point
- content_for :body_classes do
  = " controller-" + controller.controller_name

//After opening <body> element  Insertion point
-# - content_for :body_start  do
-#   = "body_start"

//<header> element  Set the value of header_class to with-proposition to show the propositional navigation
- content_for :header_class do
  = "with-proposition"

-# // Inside parent .header-global Insertion point
-# - content_for :inside_header do
-#   = "inside_header"

//Inside parent .header-wrapper Add a propositional title and navigation links
- content_for :proposition_header  do
  .header-proposition
    .content
      %a.js-header-toggle.menu{:href => "#proposition-links"}
        = "Menu"
      %nav#proposition-menu
        =link_to app_title, home_path, id: "proposition-name"
        = render "shared/loginout"

//After closing </header> element Insertion point
-# - content_for :after_header  do
-#   = "after_header"

//Inside parent #footer-wrapper Insertion point
-# - content_for :footer_top  do
-#   = render partial: "layouts/footer"

//Inside parent .footer-meta-inner  Insertion point
- content_for :footer_support_links  do
  = "footer_support_links"

//Before closing </body> element  Insertion point
- content_for :body_end  do
  = javascript_include_tag 'application'
  = render 'layouts/ga'

//  Main content goes in here Insertion point. Content must be wrapped with id="content" for the skiplink to work.
- content_for :content do
  %main#content
    = yield :breadcrumbs

    = flash_messages

    = yield

= render template: 'layouts/govuk_template'