= render partial: 'layouts/shared'
- content_for :content do
  #wrapper
    %main#content{role: 'main'}
      =flash_messages
      .inner-block.breadcrumbs_and_edit_link
        .breadcrumbs= yield :breadcrumbs
        .edit_this_page= yield :edit_this_page
      - if current_user
        .grid-wrapper
          .grid.grid-2-3
            .inner-block= render 'shared/search'
          .grid.grid-1-3
            .inner-block= link_to 'Add new person', new_person_path, class: 'add-new-person'
      .inner-block
        = yield
      #last_update
        = last_update

= render 'layouts/ga'
= render template: "layouts/moj_internal_template"
