= render "shared/loginout"
- content_for :head do
  = javascript_include_tag "application"
  = stylesheet_link_tag "application"
- content_for :content do
  #wrapper
    %main#content{role: 'main'}
      =flash_messages
      .inner-block.breadcrumbs_and_edit_link
        .breadcrumbs= yield :breadcrumbs
        .edit_this_page= yield :edit_this_page
      .inner-block
        = render "shared/search" if current_user
      .inner-block
        = yield
- content_for :footer_top do
  .inner-block
    = last_update
= render template: "layouts/moj_internal_template"
