= render "shared/loginout"
- content_for :head do
  = javascript_include_tag "application"
  = stylesheet_link_tag "application"
- content_for :content do
  .class
    %main#content{role: 'main'}
      .inner-block
        = yield
= render template: "layouts/moj_internal_template"
