<% content_for :head do %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: :all %>
<% end %>

<% content_for :content do %>
  <div class="class">
    <main id="content" role="main">
      <% if Rails.application.config.respond_to?(:phase) %>
        <%= render partial: 'layouts/partials/phase' %>
      <% end %>

      <%= flash_messages %>

      <div class="inner-block">
        <div class="top-left">
          <%= yield :back_link %>
        </div>

        <div class="top-right">
          <%= yield :top_right %>
        </div>

        <%= render partial: 'shared/time_left' %>

        <% if content_for?(:page_header) %>
          <%= yield(:page_header) %>
        <% else %>
          <%= govspeak(t('common.introductory_text')) %>
        <% end %>

        <%= render partial: 'shared/tab_navigation' if show_tabs? %>

        <%= yield %>
      </div>
    </main>
  </div>
<% end %>

<% content_for :footer_support_links do %>
  <%= render partial: 'shared/footer' %>
<% end %>

<%= render 'shared/loginout' %>
<%= render 'shared/ga' %>

<%= render template: 'layouts/moj_internal_template' %>
