- @disable_logo_link  = true
= render partial: 'layouts/shared'
- content_for :header_app_name do
  =link_to app_title, home_path
  = render "shared/loginout"
- content_for :content do
  #wrapper
    %main#content{role: 'main'}
      =flash_messages
      
      .inner-block
        #home-page= yield

= render 'layouts/script'
= render partial: "layouts/footer"
= render template: "layouts/peoplefinder"
