- content_for :page_title do
  = page_title

- content_for :cookie_message do
  = "<p>GOV.UK uses cookies to make the site simpler. <a href=\"/cookies\">Find out more about cookies</a></p>".html_safe

- content_for :global_header_text do
  /#{Rails.configuration.department_abbrev}

- content_for :homepage_url do
  = ENV['HOME_PAGE_URL']

- content_for :logo_link_title do
  = 'Go to the People Finder homepage'

- content_for :head do

  = stylesheet_link_tag "application", media: "all"
  = stylesheet_link_tag "digital-workspace-overrides/application", media: "all"
  = csrf_meta_tag
  %meta{name: "format-detection", content: "telephone=no"}

  /[if IE 6]
    = stylesheet_link_tag "application-ie6", media: "all"

  /[if IE 7]
    = stylesheet_link_tag "application-ie7", media: "all"

  /[if IE 8]
    = stylesheet_link_tag "application-ie8", media: "all"


- content_for :body_classes do
  = " controller-" + controller.controller_name

- content_for :header_class do
  = "with-proposition"

- content_for :proposition_header do
  %ul.mobile-header
    %li
      = link_to "Account", '/', class: "mobile-account-button"
    %li
      = link_to "Search", "/search", class: "mobile-search-button"
  .header-proposition
    .content
      = link_to "Digital Workspace", home_path, id: "proposition-name"
    = render partial: "widgets/nav"
    .search
      %form{:action => "#{ENV['HOME_PAGE_URL']}/search", :method => "get", :role => "search-workspace"}
        .proposition-search.govuk-search
          %label.search-label
            Search site
          .search-wrapper
            %input{:type => 'search', :id =>'site-search-input', :title => 'Search Workspace', :name => 's', :class => 'search-element search-input js-class-toggle js-search-focus'}
            .search-element.search-submit-wrapper
              %button{:type => 'submit', :class => 'search-submit'}
                Search Workspace

/- content_for :footer_top do
  
- content_for :footer_support_links do
  = render 'layouts/footer'


- content_for :body_end do
  = javascript_include_tag 'application'
  = render 'layouts/ga'

- content_for :content do
  .page-content
    = render partial: "widgets/people_search_inner_page"
    = render partial: "widgets/beta_bar"
    %main#content
      = yield :breadcrumbs
      = yield
      = render 'shared/zendesk_footer'

= render template: 'layouts/govuk_template'
